body {
  background-color: #259086;
  font-family: Arial;
  color: #333333;
  font-size: 14px;
}

#page {
  width: 700px;
  margin: auto;
}

#header {
  padding: 10px;
  padding-bottom: 5px;
}

#content {
  background-color: #b4e3df;
  padding-left: 15px;
  padding-right: 15px;
  border: 5px solid #6bc8c0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  line-height: 14pt;
}

#footer, #footer a {
  color: white;
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#title {
  color: white;
  font-size: 35px;
  margin: 30px;
}

a#title:hover {
  text-decoration: none;
  color: white;
}

.menu {
  color: white;
  padding: 12px;
  margin: 5px;
  border: 4px dotted yellow;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.menu#active {
  background-color: #6bc8c0;
  border: 4px solid #6bc8c0;
}

a.menu:hover {
  text-decoration: none;
  border: 4px dotted #6bc8c0;
  background-color: #6bc8c0;
  
  -moz-transition-property: background-color;
  -moz-transition-duration: .1s;
  -moz-transition-timing-function: ease-out;
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
  
  transition-property: background-color;
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.note {
  text-align: center;
}

a {
  color: #259086;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 23px;
  font-family: MetaBold, Trebuchet MS, sans-serif;
  margin-bottom: 0;
  padding-top: 10px;
}

h1 a {
  color: #333333;
}

h2 {
  font-size: 11px;
  margin-top: 5px;
}

h3 {
  margin-bottom: 2px;
  font-size: 14px;
}

p {
  margin-top: 0;
  text-align: justify;
}
