<%= header("../../", :projects) %>
      <% menu = [
        [:documents, "Documents"] ] %>
      <%= side_nav_header menu %>
          <h1>Simulation of an olfactory system</h1>
          <p><em>With <a href="http://audition.ens.fr/brette/">Romain Brette</a>.</em></p>
          <p>Simulation of the mammal neural network of an olfactory system, using <a href="http://briansimulator.org/">Brian</a> library.</p>
          
          <%= h3(menu, :documents) %>
          <ul>
            <li><a href="french_report.pdf">report</a> (in French)</li>
            <li><a href="french_slides.pdf">slides</a> (in French)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
