<%= header("../", "Packages", "Done") %>
            <h1>Done</h1>
            <p>What is already available.</p>
            
            <h3>A GitHub project</h3>
            <p>There is a <a href="https://github.com/clarus/coq-packages">GitHub project</a> with all the code produced.</p>
            
            <h3>Egg, a package format Coq</h3>
            <p>This is a JSON format described by a <a href="https://github.com/clarus/coq-packages/blob/master/egg_schema.json">schema</a>. There are scripts to import Coq's contribs and to produce OPAM packages.</p>
            
            <h3>An OPAM repository for contribs</h3>
            <p>We imported all the Coq contribs from the <code>trunk</code> to an OPAM repository. To install it, get <a href="http://opam.ocamlpro.com/">OPAM</a> and run:</p>
            <pre>opam repo add coq-contribs-trunk http://coq.io/packages/coq-contribs-trunk</pre>
            <p>Here is the list of available packages:</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Version</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
              <%
                packages = Dir.glob("packages/coq-contribs-trunk/packages/*").map do |path|
                  dir = File.basename(path)
                  name, version = /\A([^.]*)\.(.*)\z/.match(dir).captures
                  description = File.read(File.join(path, "descr"))
                  [name, version, description]
                end
                packages.sort! {|p1, p2| p1[0].downcase <=> p2[0].downcase }
              %>
              <% for package in packages do %>
                <tr>
                  <td><%= package[0] %></td>
                  <td><%= package[1] %></td>
                  <td><%= package[2] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
<%= footer("../", "Packages") %>
