<%= header("../", "Packages", nil) %>
            <h1><i class="icon-gift"></i> Packages</h1>
            <p>The goal is to have an unified and simple way to install Coq packages. It aims to give better visibility to new productions and bring synergy between projects. This is very much in the spirit of <a href="https://npmjs.org/">npm</a> for <a href="http://nodejs.org/">Node.js</a> or <a href="">OPAM</a> for <a href="http://ocaml.org/">OCaml</a>.</p>
<%= footer("../", "Packages") %>
