<%= header("../", "Packages", "Project") %>
            <h1>Project</h1>
            <p>We describe the challenges and what we want to do.</p>
            
            <h3>Simple solution</h3>
            <p>A simple solution is to use <a href="http://opam.ocamlpro.com/">OPAM</a> and just make a new repository for Coq.</p>
            <p>Advantages:</p>
            <ul>
              <li>OPAM already exists</li>
              <li>robust dependencies solver, based on the <a href="http://www.mancoosi.org/">Mancoosi</a> project</li>
              <li>possibility to depend on OCaml packages for Coq plugins</li>
            </ul>
            <p>However OPAM may not be the perfect solution. We will discuss which features we would like to have. Some could be added to OPAM, others not.</p>
            
            <h3>Configuration files</h3>
            <p>Packages in OPAM are configured using three different files: <code>descr</code>, <code>opam</code> and <code>url</code>. The format is defined by an ad-hoc grammar. In <a href="https://npmjs.org/">npm</a>, a single <code>package.json</code> file is used. It is written in <a href="http://www.json.org/">JSON</a>. This file format can be described by a <a href="http://json-schema.org/">JSON schema</a> and parsed by almost any programming language. It simplifes the development of external tools.</p>
            <p>Another advantage is that the <code>package.json</code> is located at the root of the packages archives. It keeps things more "self-contained". There is no difference between a package and its archive. The packaging is more decentralized and let up to the developers. They are the ones who should know the best about their developments and get interested in publishing them.</p>
            
            <h3>Binary packages</h3>
            <p>The equivalent of binary files for Coq are <code>.vo</code>. Packages including only Coq code can have only <code>.vo</code> files. These files also contain some meta-informations (documentations, notations, tactics, ...). It could be provided in external files, since these informations are only required at compilation time. They are useless at link or run time.</p>
            <p>Following what is done in Linux distributions, we can distinguish three kinds of packages:</p>
            <ul>
              <li>source packages: the <code>.v</code> files and a compilation script</li>
              <li>binary packages: only the <code>.vo</code> without meta-informations</li>
              <li>development packages: the meta-informations missing in the <code>.vo</code></li>
            </ul>
            <p>This works only for pure Coq projects, but plugins are usually written in OCaml. They could be distributed in a separated way, since only a minority of packages are concerned.</p>
            
            <h3>The Semver convention</h3>
            <p>We should enforce the <a href="http://semver.org/">Semver</a> convention since most Coq packages have no version number yet. It greatly simplifies the management of version numbers for dependencies.</p>
            <p>An interesting observation about Coq is that the only moment when failures can happen is at linking time (or compilation for source packages). We can assume there is no run time failure. This is true for theorems and can be true even for programs. For that, we take the convention that a well-typed program is "going well". It seems reasonable because the programmer can always specify the expected behavior of a program, using assertions or unit-tests run during type-checking.</p>
            <p>Comparing two module interfaces, to know if one is the subset of the other, allows to statically know if the Semver convention is fulfilled. No other programming language can ensure that. Going further, the minor version number is useless since you can safely replace a package with a backward-compatible one. You can always use the latest available version of a given major release.</p>
            <p>Packages under development are evolving quickly. They cannot have a version number or respect the Semver convention. A special mode for unstable packages could be useful, since developers still want to use them.</p>
            
            <h3>Dependencies</h3>
            <p>You can depend on an other package hiding it or not. In the following dependencies graph:</p>
            <pre>A@1.0 ── B@2.3 ── D@1.5
    └─── C@1.2 ── D@2.0</pre>
            <p><code>A</code> depends on <code>B</code> and <code>C</code>, and each one depends on a different version of <code>D</code>. If the interface of <code>B</code> and <code>C</code> does not expose the definitions of <code>D</code> the package <code>D</code> is hidden from <code>A</code>. Then you can use two incompatible versions of <code>D</code> at the same time without collison.</p>
            <p>But if <code>A</code> uses definitions from <code>D</code> in <code>B</code> and in <code>C</code>, you have to find a version number of <code>D</code> working both for <code>B</code> and <code>C</code>. In this case the installation may fail.</p>
            <p>We see that there are two kinds of dependencies: the ones which are hidden and the others which are exposed. It seems important to distinguish them. There is the notion of <a href="http://domenic.me/2013/02/08/peer-dependencies/">peer dependencies</a> in npm. I wonder how it is handled in other systems.</p>
            
            <h3>Installation directory</h3>
            <p>It is unclear whether packages should be installed globally, in each user directory or in any directory. The best should be to offer the choice (as in npm). I do not know if there is a standard way to install Coq packages locally.</p>
            
            <h3>Building tool</h3>
            <ul>
              <li>Which primitives do we want? (build, test, install, uninstall, doc, ...)</li>
              <li>Should the package manager have variables (like the <code>make</code> variable for OPAM, pointing to <code>make</code> under Linux or <code>gmake</code> under BSD) or delegate this work?</li>
              <li>Is <a href="http://manpages.debian.net/cgi-bin/man.cgi?manpath=wheezy&amp;sektion=1&amp;query=coq_makefile&amp;apropos=0&amp;locale=en">coq_makefile</a> good enough?</li>
            </ul>
            
            <h3>Coq versions</h3>
            <p>Coq releases are rarely backward-compatible. This is a major problem for package developers to know with which Coq version their proofs or programs are compiling. OPAM can handle many different OCaml installations at the same time. We should get inspiration from that.</p>
            
            <h3>Interactive website</h3>
            <p>The <a href="https://npmjs.org/">website</a> of npm is nice and easy to use. There is a simple interface to publish new packages. The account system make it convenient to follow the popularity of your packages and get rewarded. They automatically display the <code>README</code> or <code>README.md</code> file documenting each project. The link to the bug-tracker is clearly visible to encourage feedbacks.</p>
<%= footer("../", "Packages") %>
