      <% if section %>
          </div>
        </main>
      </div>
      <% end %>
      <footer>
        <p>&copy; Guillaume Claret 2013 <a class="pull-right" href="<%= dir %>about/">About</a></p>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="<%= dir %>javascript/bootstrap.min.js"></script>
    <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-45170128-3', 'coq.io');
      ga('send', 'pageview');
    </script>
  </body>
</html>
