<%
  menu = [
    ["Language", [
      "GMP",
      "Plug effects"]],
    ["Compiler", []],
    ["Packages", [
      "Project",
      "Done"]],
    ["About", []]]
  
  def link(name)
    name.downcase.gsub(/\W/, "_")
  end
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coq.io">
    <meta name="author" content="Guillaume Claret">
    <title>Coq.io</title>
    <link rel="shortcut icon" type="image/png" href="<%= dir %>images/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="<%= dir %>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= dir %>css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= dir %>fonts/fontawesome.css" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav>
      <div class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= dir %>.">Coq.io</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% for s, _ in menu do %>
              <li<%= " class=\"active\" " if section == s %>><a href="<%= dir %><%= link(s) %>/"><%= h s %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if section %>
      <div class="row">
        <nav>
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked menu">
              <li<%= " class=\"active\" " if subsection == nil %>><a href="<%= dir %><%= link(section) %>/">Home</a></li>
              <% for ss in menu.find {|s, _| s == section}[1] do %>
              <li<%= " class=\"active\" " if subsection == ss %>><a href="<%= dir %><%= link(section) %>/<%= link(ss) %>.html"><%= h ss %></a></li>
              <% end %>
            </ul>
          </div>
        </nav>
        <main>
          <div class="col-md-9">
      <% end %>
