body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid {
  max-width: 600px;
  margin: 0 auto;
}

.crossword {
  border-collapse: collapse;
}

.crossword td {
  border: 1px solid black;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

.crossword .no-border {
  border: none;
}

.crossword .index {
  text-align: left;
  font-size: 17px;
}

@media print {
  .no-print {
    display: none;
  }
}
