<%= header("", nil) %>
      <div class="row-fluid">
        <div class="span3">
          <p class="text-center"><img src="home/images/me.jpg" alt="Clarus" class="img-polaroid" /></p>
        </div>
        <div class="span9">
          <h1>Welcome</h1>
          <p>I am a <a href="research/phd.html">PhD</a> student in the Inria's <a href="http://www.pps.univ-paris-diderot.fr/pi.r2/">πr² team</a> in Paris with <a href="http://didascalie.informatique.univ-paris-diderot.fr:8080/">Yann Régis-Gianas</a> and <a href="http://pauillac.inria.fr/~herbelin/index-eng.html">Hugo Herbelin</a>. I am working on the proof language of <a href="http://coq.inria.fr/">Coq</a>, to make it usable as an effectful and efficient programming language: <a href="research.html">read more</a>.</p>
          <p>I was a student at the <a href="http://www.ens.fr/">École normale supérieure de Paris</a>. Here is my <a href="CV.pdf">CV</a>. My interests domains are programming languages theory and proof checkers.</p>

          <blockquote>
            <p>If two people agree on everything, one of them is unnecessary.</p>
            <small><cite>Winston Churchill</cite></small>
          </blockquote>

          <blockquote>
            <p>If I had asked people what they wanted, they would have said faster horses.</p>
            <small><cite>Henry Ford</cite></small>
          </blockquote>

          <h3>About</h3>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3"></div>
        <div class="span4">
          <h4><i class="fa fa-pencil"></i> Blog</h4>
          <p><a href="http://coq-blog.clarus.me/">coq-blog</a></p>

          <h4><i class="fa fa-github"></i> GitHub</h4>
          <p><a href="https://github.com/clarus">clarus</a></p>

          <h4><i class="fa fa-user"></i> CV</h4>
          <p><a href="CV.pdf">Download</a></p>
        </div>
        <div class="span5">
          <h4><i class="fa fa-envelope"></i> Email</h4>
          <p>web [at] clarus [dot] me</p>

          <h4><i class="fa fa-phone"></i> Phone</h4>
          <p>+33.6.82.05.43.55 (France)</p>

          <h4><i class="fa fa-home"></i> Address</h4>
          <address>Paris</address>
        </div>
      </div>
<%= footer %>
