<%= header("", :projects) %>
      <% menu = [
        [:work, "Work projects"],
        [:school, "School projects"],
        [:fun, "Fun projects"] ] %>
      <%= side_nav_header menu %>
          <h1>Projects</h1>
          <%= h3(menu, :work) %>
          <h4>
            <a href="https://bitbucket.org/guillaumeclaret/hoare">MiniML static analyzer</a> (2011)
            <em> with <a href="http://didascalie.informatique.univ-paris-diderot.fr:8080/">Yann Régis-Gianas</a> and <a href="http://www.pps.univ-paris-diderot.fr/~amadio/">Roberto Amadio</a></em>
          </h4>
          <p>
            Tool to make functional programs with Hoare's logic assertions and execution time annotations.
          </p>
          <h4>
            <a href="https://bitbucket.org/guillaumeclaret/miniml">MiniML compiler</a> (2011)
            <em> with <a href="http://didascalie.informatique.univ-paris-diderot.fr:8080/">Yann Régis-Gianas</a> and <a href="http://www.pps.univ-paris-diderot.fr/~amadio/">Roberto Amadio</a></em>
          </h4>
          <p>
            A compiler of a ML-like language, generating source code annotations to compute statically the execution time.
          </p>
          <h4>
            <a href="https://bitbucket.org/guillaumeclaret/fu_logic">Optimistic Concurrency Using a Program Logic for History</a> (2010)
            <em> with <a href="http://cs-www.cs.yale.edu/homes/shao-zhong/">Zhong Shao</a> and Yannis Kouskoulas</em>
          </h4>
          <p>
            Coq formalization of historical logic for concurrent programs.
          </p>
          <h4>
            <a href="projects/sophia_internship/">Weakest precondition generator</a> (2009)
            <em> with <a href="http://anne.pacalet.fr/">Anne Pacalet</a></em>
          </h4>
          <p>
            A pre-condition algorithm on C with correctness proof in Coq. For the <a href="http://frama-c.com/">Frama-C</a> project.
          </p>
          
          <%= h3(menu, :school) %>
          <h4>
            <a href="projects/neuroscience/">Simulation of an olfactory system</a> (2009)
            <em> with <a href="http://romainbrette.fr/">Romain Brette</a></em>
          </h4>
          <p>
            Simulation of the mammal neural network of an olfactory system, using <a href="http://briansimulator.org/">Brian</a> library.
          </p>
          <h4>
            <a href="bunach/">Bunach</a> (2009)
            <em> with <a href="http://www.naccache.fr/research/">David Naccache</a></em>
          </h4>
          <p>
            A robot without articulation simulator, using <a href="http://bulletphysics.org/wordpress/">Bullet</a> physics engine.
          </p>
          <h4>
            <a href="http://cloudster.sourceforge.net/">Cloudster</a> (2009)
            <em> with <a href="http://vermorel.com/">Joannes Vermorel</a></em>
          </h4>
          <p>
            A k-means algorithm implementation in .Net on the cloud computing platform Windows Azure.
          </p>
          <h4>
            <a href="https://www.lri.fr/~filliatr/ens/compil/">PetitCaml</a> (2008)
            <em> with <a href="https://www.lri.fr/~filliatr/index.fr.html">Jean-Christophe Filliâtre</a></em>
          </h4>
          <p>
            A compiler of a subset of OCaml to MIPS assembly, with clotures and type inference.
          </p>
          <h4>
            <a href="http://www.di.ens.fr/%7Ejv/HomePage/cours/micro_presentation.pdf">Microprocessor simulator</a> (2008)
            <em> with <a href="http://www.di.ens.fr/~jv/">Jean Vuillemin</a></em>
          </h4>
          <p>
            Electronic circuit simulator (C and Ruby), and design of a small microprocessor.
          </p>
          <h4>
            <a href="projects/tipe/">Generator of walking creatures</a> (2008)
            <em> with <a href="http://fr.viadeo.com/fr/profile/jean-marie.cases">Jean-Marie Cases</a></em>
          </h4>
          <p>
            A generator of walking creatures using genetic algorithms and the <a href="http://www.ode.org/">ODE</a> physics engine.
          </p>
          
          <%= h3(menu, :fun) %>
          <h4><a href="http://hg.clarus.me/light_album/">A light web-album system</a> (2011)</h4>
          <p>
            A web-album generator in Ruby. No SQL or web-interface, only <a href="http://en.wikipedia.org/wiki/YAML">YAML</a> configuration files. I am using it as a replacement of <a href="http://picasaweb.google.com/">Picasa Web</a> (import script included). <a href="http://minette.claret.me/">Sample</a> (legends can also be added).
          </p>
          <h4><a href="http://hg.clarus.me/light_blog/">A light blog engine</a> (2011)</h4>
          <p>
            A light and extensible blog engine written in Ruby. No SQL or dynamic pages, only text files and static HTML. I am using it for my own <a href="http://blog.clarus.me/">French blog</a>.
          </p>
          <h4><a href="http://git.ulminfo.fr/hexacopter_simulator/">A hexacopter simulator</a> (2011)</h4>
          <p>
            A physics simulator using <a href="http://bulletphysics.org/">Bullet</a> to simulate the flight of a hexacopter for the <a href="http://hackens.org/Projets/Hexacopter">ENS' robotic club</a>.
          </p>
          <h4><a href="http://guillaume.claret.me/gps/">GPS link</a> (2010)</h4>
          <p>
            A webapp to get a web link to your current GPS position, and share where you are.
          </p>
          <h4><a href="https://bitbucket.org/guillaumeclaret/twitter_to_irc/src">Twitter_to_IRC</a> (2010)</h4>
          <p>
            A Ruby IRC bot to redirect your tweets to IRC.
          </p>
          <h4>eoTranslate (2009)</h4>
          <p>
            A Firefox add-on to translate Esperanto in English.
          </p>
          <h4><a href="https://www.teeworlds.com/">TeeWorlds hosted servers</a> (2009)</h4>
          <p>
            <a href="https://www.teeworlds.com/">TeeWorlds</a> is a free online multiplayer game. My servers had more than 1.000 players each day.
          </p>
          <h4><a href="https://www.teeworlds.com/forum/viewtopic.php?id=4812">Catch36 mod</a> (2009)</h4>
          <p>
            You can get a new player in your team killing him. Try to be the last team!
          </p>
          <h4><a href="https://www.teeworlds.com/forum/viewtopic.php?id=4760">Duel mod</a> (2009)</h4>
          <p>
            One to One mod, with challenging system, stats, and computed experience.
          </p>
          <h4><a href="https://www.teeworlds.com/forum/viewtopic.php?id=3701">Save mod</a> (2009)</h4>
          <p>
            Your number of kills is recorded. Just try to be the Tee God!
          </p>
          <h4><a href="https://www.teeworlds.com/forum/viewtopic.php?id=3592">Fire mod</a> (2009)</h4>
          <p>
            New kinds of weapons, with a flamethrower.
          </p>
      <%= side_nav_footer %>
<%= footer %>
