<%= header("", :research) %>
      <% menu = [
        [:roadmap, "Roadmap"],
        [:timeline, "Timeline"] ] %>
      <%= side_nav_header menu %>
          <h1>Research</h1>
          <p>I am a <a href="research/phd.html">PhD</a> student at <a href="http://www.pps.univ-paris-diderot.fr/pi.r2/">Inria Paris</a>. I work on programming languages and theorem provers. My ultimate goal is to fusion these two worlds into one language. It would give an easy way for programmers to formally check their codes and simplify the usage of decision procedures for mathematicians. The <a href="http://en.wikipedia.org/wiki/Curry%E2%80%93Howard_correspondence">Curry–Howard correspondence</a> is already a good link but only works for purely functional languages.</p>
          <p><a href="research/phd.html">Read more...</a></p>
          
          <%= h3(menu, :roadmap) %>
          <p>The <a href="http://coq.inria.fr/">Coq</a> system is a mature theorem prover. It provides a powerful higher-order logic, a purely functional language and an extraction mechanism to compile it efficiently to OCaml. The only missing thing is an effect system to represent mutable variables, exceptions, non-termination, inputs-outputs, coroutines, continuations or concurrency.</p>
          <p>This effect system should respect the following requirements:</p>
          <ul>
            <li>to be visible in the type: like the monads in Haskell</li>
            <li>to be commutative: the combination of effects (ε<sub>1</sub> and ε<sub>2</sub>) should be the same as (ε<sub>2</sub> and ε<sub>1</sub>)</li>
            <li>to be inferable: the user should not write anything more than in an imperative language (no bind or monadic lift)</li>
            <li>to be purifiable: many effects can be hidden, like exceptions in a catch or mutable values hiding the reference</li>
            <li>to be certifiable: it should be possible to add assertions and prove them even for complex properties like serializability of concurrent algorithms</li>
            <li>to be compilable: the extraction mechanism should be extended for effects or, better, they should be compilable to assembly languages in a certified way</li>
          </ul>
          <p>More informations can be found on my <a href="research/phd.html">PhD</a> page. Similar projects had been done, like <a href="http://ynot.cs.harvard.edu/">Ynot</a>, which focuses more on provability of low-level programs in Hoare-logic style.</p>
          
          <%= h3(menu, :timeline) %>
          <ul>
            <li>
              <a href="research/phd.html">PhD</a> (September 2012 to September 2015)
              <em>
                with <a href="http://pauillac.inria.fr/~herbelin/index-eng.html">Hugo Herbelin</a>
              </em>
            </li>
            <li>
              Internship at Microsoft Research India (January to June 2012)
              <em>
                with <a href="http://research.microsoft.com/en-us/people/sriram/">Sriram Rajamani</a>
                and <a href="http://research.microsoft.com/en-us/people/adityan/">Aditya Nori</a>
              </em>
            </li>
            <li>
              <a href="research/phd_intro.html">Preparation to the PhD</a> (Winter 2011)
              <em>
                with <a href="http://didascalie.informatique.univ-paris-diderot.fr:8080/">Yann Régis-Gianas</a>
              </em>
            </li>
            <!--<li>
              <a href="research/india_intro.html">Preparation to internship in India</a> (Autumn 2011)
            </li>-->
            <li>
              <a href="research/m2_internship.html">Master 2 internship</a> (March to July 2011)
              <em>
                with <a href="http://didascalie.informatique.univ-paris-diderot.fr:8080/">Yann Régis-Gianas</a>
                and <a href="http://www.pps.univ-paris-diderot.fr/~amadio/">Roberto Amadio</a>
              </em>
            </li>
            <li>
              <a href="research/yale_internship.html">Yale internship</a> (March to August 2010)
              <em>
                with <a href="http://cs-www.cs.yale.edu/homes/shao/">Zhong Shao</a>
              </em>
            </li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
