<%= header("", :teaching) %>
      <% menu = [
        [:c, "The C language"] ] %>
      <%= side_nav_header menu %>
          <h1>Teaching</h1>
          <%= h3(menu, :c) %>
          <p>Introduction to C programming at <a href="http://www.univ-paris5.fr/">Paris Descartes</a> with <a href="http://web.mi.parisdescartes.fr/~bouzy/">Bruno Bouzy</a>. Go to the <a href="http://www.math-info.univ-paris5.fr/~bouzy/Doc/ProgC/">page of the class</a> for more information. Some cheat sheets in French (more will be available as the lesson goes on, <a href="https://github.com/clarus/c-cheat-sheets">sources</a> are on GitHub):</p>
          <ol>
            <li><a href="projects/c-cheat-sheets/1.pdf">Inputs, outputs and variables</a></li>
            <li>missing</li>
            <li><a href="projects/c-cheat-sheets/3.pdf">Tests and booleans</a></li>
            <li><a href="projects/c-cheat-sheets/4.pdf">Loops</a></li>
            <li><a href="projects/c-cheat-sheets/5.pdf">Pointers</a></li>
          </ol>
      <%= side_nav_footer %>
<%= footer %>
