<%= header("../", :research) %>
      <% menu = [
        [:generalities, "Generalities"],
        [:applications, "Applications"],
        [:qbf, "QBF"],
        [:forest_trees, "Forest trees"],
        [:abstract_search, "Abstract search"],
        [:probabilistic_templates, "Probabilistic templates"] ] %>
      <%= side_nav_header menu %>
          <h1>Preparation to internship in India</h1>
          <h4>Autumn 2011</h4>
          <p>The goal is to improve the automatic synthesis of programs. A draft is available <a href="../projects/india/old_report.pdf">here</a>.</p>
          <%= h3(menu, :generalities) %>
          <ul>
            <li>try <a href="http://research.microsoft.com/en-us/um/redmond/projects/z3/">Z3</a> (in progress)</li>
            <li>look at <a href="http://research.microsoft.com/en-us/projects/slam/">SLAM</a> (in progress)</li>
            <li>try <a href="http://research.microsoft.com/en-us/um/cambridge/projects/infernet/">Infer.Net</a> (todo)</li>
          </ul>
          <h4>Readings</h4>
          <ul>
            <li><a href="http://www.cs.cmu.edu/~aldrich/papers/classic/tse12-typestate.pdf">Typestate</a> (in progress)</li>
            <li><a href="https://research.microsoft.com/pubs/102699/tse.pdf">Proofs from Tests</a> (in progress)</li>
            <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.93.3142&amp;rep=rep1&amp;type=pdf">Automatic Predicate Abstraction of C Programs</a> (todo)</li>
            <li><a href="ftp://ftp.research.microsoft.com/pub/tr/tr-2004-08.pdf">History of SLAM</a> (in progress)</li>
            <li><a href="http://research.microsoft.com/en-us/projects/specsharp/krml136.pdf">The Spec# Programming System</a> (in progress)</li>
          </ul>
          
          <%= h3(menu, :applications) %>
          <p>Understand program synthesis and find new applications.</p>
          <ul>
            <li>look at <a href="http://en.wikipedia.org/wiki/SIMD">SIMD</a> programs (in progress)</li>
            <li>have a list of bit tricks (todo)</li>
          </ul>
          <h4>Readings</h4>
          <ul>
            <li><a href="http://research.microsoft.com/pubs/119146/bv.pdf">Component-based Synthesis Applied to Bitvector Programs</a> (done)</li>
            <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.62.4976&amp;rep=rep1&amp;type=pdf">Synthesis of Programs in Computational Logic</a> (in progress)</li>
            <li><a href="http://people.csail.mit.edu/asolar/papers/thesis.pdf">Program Synthesis by Sketching</a> (PhD) (in progress)</li>
            <li><a href="http://dl.acm.org/ft_gateway.cfm?id=357090&amp;type=pdf&amp;CFID=53689162&amp;CFTOKEN=88115068">A Deductive Approach to Program Synthesis</a> (todo)</li>
            <li><a href="http://icwww.epfl.ch/~piskac/publications/GveroETAL10InSynth.pdf">Interactive Synthesis of Code Snippets</a> (done)</li>
          </ul>
          
          <%= h3(menu, :qbf) %>
          <p>Understand existing methods to solve QBF and compare them on benchmarks.</p>
          <ul>
            <li>look at <a href="http://qbflib.org/">QBFlib</a> (todo)</li>
          </ul>
          <h4>Readings</h4>
          <ul>
            <li><a href="http://research.microsoft.com/en-us/people/lintaoz/thesis_lintao_zhang.pdf">Techniques for satisfiability of boolean formulas (PhD)</a> (todo)</li>
            <li><a href="http://research.microsoft.com/pubs/77779/LearningQBF.pdf">Learning to Solve QBF</a> (todo)</li>
            <li><a href="http://www.info.univ-angers.fr/pub/stephan/Research/hdr_hyper.pdf">Propos sur les formules booléennes quantifiées (French PhD)</a> (todo)</li>
            <li><a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=1383275">QBF evaluation using ZBDDs</a> (todo)</li>
            <li><a href="http://www.comm.utoronto.ca/frank/papers/KFL01.pdf">Factor Graphs and the Sum-Product Algorithm</a> (todo)</li>
          </ul>
          
          <%= h3(menu, :forest_trees) %>
          <p>Interpret boolean formulae as forest trees to solve them by induction.</p>
          <ul>
            <li>write down the method (todo)</li>
            <li>find a good existing implementation to compute forest trees (todo)</li>
            <li>plug it to a QBF parser (todo)</li>
            <li>test it on practical QBF (todo)</li>
          </ul>
          <h4>Readings</h4>
          <ul>
            <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.41.6781&amp;rep=rep1&amp;type=pdf">Decision Tree Approximations of Boolean Functions</a> (in progress)</li>
          </ul>
          
          <%= h3(menu, :abstract_search) %>
          <p>Generate a program refining an abstract search space of all the possible programs. An implementation is available <a href="http://hg.clarus.me/explore/">here</a>.</p>
          <ul>
            <li>write down the method (in progress)</li>
            <li>implement it (done)</li>
            <li>try it on bit tricks (done)</li>
            <li>try it on boolean functions (todo)</li>
          </ul>
          
          <%= h3(menu, :probabilistic_templates) %>
          <p>Allow the programmer to give probabilistic hints using probabilistic solvers.</p>
          <ul>
            <li>understand templates (todo)</li>
          </ul>
          <h4>Readings</h4>
          <ul>
            <li><a href="http://research.microsoft.com/en-us/um/people/sumitg/pubs/popl10_synthesis.pdf">From Program Verification to Program Synthesis</a> (todo)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
