<%= header("../", :research) %>
      <% menu = [
        [:place, "Place"],
        [:done, "Done"],
        [:todo, "TODO"],
        [:timeline, "Timeline"] ] %>
      <%= side_nav_header menu %>
          <h1>M2 internship</h1>
          <h4>March to July 2011</h4>
          <p><em>With <a href="http://www.pps.univ-paris-diderot.fr/~yrg/">Yann Régis-Gianas</a> and <a href="http://www.pps.univ-paris-diderot.fr/~amadio/">Roberto Amadio</a>.</em></p>
          
          <%= h3(menu, :place) %>
            23 avenue d'Italie - 75013 Paris
          
          <%= h3(menu, :done) %>
            <ul>
              <li><a href="../projects/m2_internship/main_report.pdf">main report</a></li>
              <li><a href="../projects/m2_internship/main_slides.pdf">main slides</a></li>
              <li><a href="https://bitbucket.org/guillaumeclaret/miniml">MiniML project</a></li>
              <li><a href="../projects/m2_internship/miniML_report.pdf">MiniML report</a></li>
              <li><a href="https://bitbucket.org/guillaumeclaret/hoare">Hoare project</a></li>
              <li><a href="../projects/m2_internship/hoare_report.pdf">Hoare report</a></li>
            </ul>
          
          <%= h3(menu, :todo) %>
            <ul>
              <li>define and implement a MiniML language with region based memory management and instrumentation tags</li>
            </ul>
          
          <%= h3(menu, :timeline) %>
            <h4>Week 14</h4>
              <ul>
                <li>…</li>
              </ul>
              <h5>TODO</h5>
              <ul>
                <li>export assertions to Pangolin with the monadic transformation</li>
                <li>try to export to the <a href="https://github.com/kanigsson/who">Who</a> program checker</li>
                <li>make a real example</li>
              </ul>
            
            <h4>Week 13</h4>
              <ul>
                <li>begining of the <a href="https://bitbucket.org/guillaumeclaret/hoare">Hoare project</a> (tool to manipulate Hoare assertions on a functional program with cost annotations)</li>
              </ul>
            
            <h4>Week 12</h4>
              <ul>
                <li>monadic transformation to express traces as values, semantics correction</li>
                <li>usage of pre/post labels mentioned</li>
              </ul>
              <h5>TODO</h5>
              <ul>
                <li>proove full semantics equivalence for monadic transformation</li>
                <li>define a light version of Hoare logic for functional languages</li>
                <li>implement a light version of <a href="http://code.google.com/p/pangolin-programming-language/">Pangolin</a></li>
              </ul>
            
            <h4>Week 11</h4>
              <ul>
                <li>participation at the french <a href="http://www.planete-sciences.org/robot/index.php?section=pages&amp;pageid=101">Eurobot Cup</a></li>
              </ul>
            
            <h4>Week 10</h4>
              <ul>
                <li>standardization of languages uzed in the proof of correctness of the compiler</li>
              </ul>
              <h5>TODO</h5>
              <ul>
                <li>prove the correctness of execution time computation with label on RTLabs</li>
                <li>prove other compilation passes, like explicit closure (just after hoisting), RTLabs generation, …</li>
                <li>understand this kind of paper : <a href="http://www.cs.unibo.it/~gaboardi/publication/DalLagoGaboardi11lics.pdf">Linear Dependent Types and Relative Completeness</a></li>
              </ul>
            
            <h4>Week 9</h4>
              <ul>
                <li>CPS proof with exceptions finished</li>
                <li>proof of the closure conversion (actually only hoisting) with labels</li>
              </ul>
              <h5>Readings</h5>
              <ul>
                <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.44.5920&amp;rep=rep1&amp;type=pdf">Type systems for closure conversion</a></li>
              </ul>
            
            <h4>Week 8</h4>
              <ul>
                <li>LaTeX version of the proof of last week for CPS conversion</li>
                <li>look at the <a href="http://sourceforge.net/projects/ltamer/files/ltamer/20091106/ltamer-20091106.tgz/download">Coq proof</a> of Chlipala</li>
                <li>tests of Coq formalization of lambda-calculus</li>
              </ul>
              <h5>Readings</h5>
              <ul>
                <li><a href="http://adam.chlipala.net/tmp/compose.pdf">Syntactic Proofs of Compositional Compiler Correctness</a></li>
              </ul>
            
            <h4>Week 7</h4>
              <ul>
                <li>draft of a proof of the CPS conversion with labels from big steps to small steps semantics (with environments)</li>
              </ul>
            
            <h4>Week 6</h4>
              <ul>
                <li>semantics of MicroML used to define the ones of MiniML, Cps and Closure</li>
                <li>proof of the CPS conversion with exceptions and small steps semantics (without labels)</li>
              </ul>
            
            <h4>Week 5</h4>
              <ul>
                <li>let construct in MicroML</li>
                <li>How to detect raise-free expressions to remove some application labels ?</li>
                <li>What Hoare logic on functionnal programs with exceptions looks like ?</li>
              </ul>
              <h5>Readings</h5>
              <ul>
                <li><a href="http://ldc.usb.ve/~suarez/papers/except.pdf">An Extended Type System for Exceptions</a></li>
                <li><a href="http://hal.inria.fr/docs/00/07/31/44/PDF/RR-3541.pdf">Type-Based Analysis of Uncaught Exceptions</a></li>
                <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.97.8681&amp;rep=rep1&amp;type=pdf">Type and Effect System for Multi-Staged Exceptions</a></li>
                <li><a href="http://www.cs.cmu.edu/~fp/talks/saig00-talk.pdf">Reasoning about Staged Computation</a></li>
              </ul>
            
            <h4>Week 4</h4>
              <ul>
                <li>sum types and exceptions</li>
                <li>labels on applications are back because exceptions can stop the execution at any point</li>
              </ul>
            
            <h4>Week 3</h4>
              <ul>
                <li>labels added to the compiler for time evaluation, parser for nice examples, fixpoint operator</li>
              </ul>
            
            <h4>Week 2</h4>
              <ul>
                <li>writing of a compiler from MiniML to abstract Register Transfer Language, with an interpreter for each intermediate language</li>
              </ul>
              <h5>Readings</h5>
              <ul>
                <li><a href="http://www.chargueraud.org/research/2008/icfp/capabilities_icfp_08.pdf">Functional Translation of a Calculus of Capabilities</a></li>
                <li><a href="http://cristal.inria.fr/~fpottier/publis/regis-gianas-pottier-hoarefp.pdf">A Hoare Logic for Call-by-Value Functional Programs</a></li>
              </ul>
            
            <h4>Week 1</h4>
              <ul>
                <li>introduction to the subject</li>
              </ul>
              <h5>Readings</h5>
              <ul>
                <li><a href="http://www.diku.dk/hjemmesider/ansatte/andrzej/papers/RC.ps.gz">Representing Control: A Study of the CPS Transformation</a></li>
                <li><a href="http://adam.chlipala.net/papers/ImpurePOPL10/ImpurePOPL10.pdf">A Verified Compiler for an Impure Functional Language</a></li>
                <li><a href="http://www.springerlink.com/content/tv0304684606l173/fulltext.pdf">Typing Safe Deallocation</a></li>
                <li><a href="http://www.springerlink.com/content/m2074884n6gt612h/fulltext.pdf">A Retrospective on Region-Based Memory Management</a></li>
              </ul>
      <%= side_nav_footer %>
<%= footer %>
