<%= header("../", :research) %>
      <% menu = [
        [:where, "Where"],
        [:timeline, "Timeline"],
        [:readings, "Readings"] ] %>
      <%= side_nav_header menu %>
          <h1>PhD</h1>
          <h4>September 2012 to September 2015</h4>
          <p><em>With <a href="http://www.pps.univ-paris-diderot.fr/~yrg/">Yann Régis-Gianas</a> and <a href="http://pauillac.inria.fr/~herbelin/index-eng.html">Hugo Herbelin</a>.</em></p>
          <p>The goal is to turn <a href="http://coq.inria.fr/">Coq</a> into an <em>efficient</em> and <em>impure</em> programming language, without scarifying the <em>safety</em> of its kernel. <a href="http://coq.inria.fr/">Coq</a> should replace <a href="http://ocaml.org/">OCaml</a>, <a href="http://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a> and <a href="http://en.wikipedia.org/wiki/Assembly_language">more</a>.</p>
          <p>We firstly focused on decision procedures for the <a href="http://cybele.gforge.inria.fr/">Cybele</a> project. We now work on adding effects to Coq.</p>
          <p>A draft of the PhD is available <a href="../projects/phd/draft.pdf">here</a>, and ongoing experiments published <a href="https://github.com/clarus/phd-experiments">here</a>.</p>
          
          <%= h3(menu, :where) %>
          <p>I work in the <a href="http://www.pps.univ-paris-diderot.fr/pi.r2/">Pir2</a> team of <a href="http://www.inria.fr/">Inria</a> and <a href="http://www.univ-paris-diderot.fr/">Université Paris 7</a>, mostly with <a href="http://www.pps.univ-paris-diderot.fr/~yrg/">Yann Régis-Gianas</a>, <a href="http://www.pps.univ-paris-diderot.fr/~lgonzale/">Lourdes del Carmen González Huesca</a> and <a href="http://www.pps.univ-paris-diderot.fr/~pedrot/">Pierre-Marie Pédrot</a>.</p>
          
          <%= h3(menu, :timeline) %>
          <p>The weeks are not always representative of real weeks but stand for units of work.</p>
          <h4>Week ω</h4>
          <h5>TODO</h5>
          <ul>
            <li>look at the Eff language (Bower, Pretwar), the Frank language (McBride), Hancock and Setzer (handlers, interfaces), Edwin Brady (algebraic effects and dependent types), Plotkin (algebraic effects), call by push-value (Paul Levy)</li>
            <li>read about typed assembly languages: <a href="http://www.cs.princeton.edu/~dpw/papers/tal-toplas.pdf">From System F to Typed Assembly Language</a>, <a href="http://www.eecs.harvard.edu/~greg/cs255sp2004/xi2001dtal.pdf">A Dependently Typed Assembly Language</a></li>
            <li>look at the <a href="http://disciple.ouroborus.net/">Disciplined Disciple Compiler</a> project</li>
            <li>read <a href="http://research.microsoft.com/pubs/148875/linear-maps-tr.pdf">Linear maps</a> (Shuvendu Lahiri)</li>
          </ul>
          
          <h4>Week 32 – <em>04/21/13</em></h4>
          <ul>
          </ul>
          <h5>TODO</h5>
          <ul>
            <li>make the Coq version of <a href="https://github.com/clarus/smart-print">SmartPrint</a> observationally purely functional</li>
            <li>release the extracted code as a new version of SmartPrint</li>
          </ul>
          
          <h4>Week 31 – <em>04/14/13</em></h4>
          <ul>
          </ul>
          <h5>TODO</h5>
          <p>The goal is to do as much as possible by one week to get a usable release and move on.</p>
          <ul>
            <li>read <a href="http://caml.inria.fr/pub/papers/xleroy-modular_modules-jfp.pdf">A modular module system</a></li>
            <li>use explicative warnings instead of errors</li>
            <li>have a good part of the standard OCaml library</li>
            <li>handle the functors</li>
            <li>add run methods for the effects in Coq</li>
            <li>run the test suite to see if it behaves as the Coq code</li>
            <li>add extraction for the effects</li>
            <li>add the extraction step to the test suite</li>
            <li>specialize the standard library to extract back the same OCaml functions</li>
            <li>test the extraction of <a href="https://github.com/clarus/smart-print">SmartPrint</a></li>
          </ul>
          
          <h4>Week 30 – <em>04/07/13</em></h4>
          <ul>
            <li>compile the <code>let rec and</code> construct</li>
            <li>compile the OCaml's List module (without comparison functions)</li>
            <li>show that the sorting function cannot raise exception</li>
          </ul>
          <h5>TODO</h5>
          <ul>
            <li>certify the sorting functions</li>
            <li>handle the functors</li>
            <li>compile the Map and Set modules</li>
          </ul>
          
          <h4>Week 29 – <em>03/31/14</em></h4>
          <h5>DONE</h5>
          <ul>
            <li>add a basic support of inequalities</li>
            <li>change the IO effect to have (possibly finite) streams</li>
            <li>add an annotation mechanism to choose if recursive functions use the non-termination monad</li>
            <li>add an environment for type variables</li>
            <li>compile the OCaml's List module without sorting and comparison functions</li>
          </ul>
          <h5>TODO</h5>
          <ul>
            <li>implement the libraries Buffer, List and String</li>
            <li>use explicative warnings instead of errors</li>
            <li>compile the <code>let rec and</code> construct</li>
          </ul>
          
          <h4>Week 28 – <em>12/23/13 to 03/24/14</em></h4>
          <ul>
            <li>many improvements of <a href="https://github.com/clarus/coq-of-ocaml">CoqOfOCaml</a> (mainly: effects support)</li>
          </ul>
          
          <h4>Week 27 – <em>12/16/13</em></h4>
          <ul>
            <li><a href="https://github.com/clarus/smart-print">SmartPrint</a> released on OPAM</li>
          </ul>
          
          <h4>Week 26 – <em>12/09/13</em></h4>
          <ul>
            <li>better version of <a href="https://github.com/clarus/smart-print">SmartPrint</a></li>
          </ul>
          
          <h4>Week 25 – <em>12/02/13</em></h4>
          <ul>
            <li>project <a href="https://github.com/clarus/smart-print">SmartPrint</a> for a new pretty-printing library in OCaml</li>
            <li>port of <a href="https://github.com/clarus/coq-of-ocaml">CoqOfOCaml</a> to SmartPrint</li>
          </ul>
          
          <h4>Week 24 – <em>11/25/13</em></h4>
          <ul>
            <li><a href="http://gallium.inria.fr/~fpottier/pprint/">PPrint</a> library used for pretty-printing</li>
            <li>effects using monads (a lot of flood)</li>
          </ul>
          
          <h4>Week 23 – <em>11/18/13</em></h4>
          <ul>
            <li>support of records and modules in <a href="https://github.com/clarus/coq-of-ocaml">CoqOfOCaml</a></li>
            <li>typed OCaml AST extracted from the .cmt files</li>
          </ul>
          
          <h4>Week 22 – <em>11/11/13</em></h4>
          <ul>
            <li>beginning of a compiler of OCaml to Coq: <a href="https://github.com/clarus/coq-of-ocaml">GitHub page</a></li>
          </ul>
          
          <h4>Week 21 – <em>10/21/13</em></h4>
          <h5>TODO</h5>
          <ul>
            <li>look at <a href="http://protz.github.io/mezzo/">Mezzo</a></li>
            <li>read <a href="http://www-verimag.imag.fr/~boulme/horefinement/dsm.pdf">Intuitionistic Refinement Calculus</a></li>
            <li>look at the <a href="http://www.mathstat.dal.ca/~selinger/lammunu/">Lambda-Mu-Nu Calculus</a></li>
          </ul>
          
          <h4>Week 20 – <em>10/14/13</em></h4>
          <ul>
            <li>reading of <a href="http://research.microsoft.com/~nswamy/papers/paper-pldi13.pdf">Verifying Higher-order Programs with the Dijkstra Monad</a>: they verify 3,000 lines of JavaScript with higher-order functions and states importing it to <a href="https://research.microsoft.com/en-us/projects/fstar/">F*</a>. This tool generates first-order verification conditions handled by <a href="https://z3.codeplex.com/">Z3</a>. A Dijkstra monad is a state monad annotated by a weakest-precondition predicate transformer. It may be better to have just predicates instead of predicate transformers. There is one big monad handling a state represented by a heap, exceptions and monotonicity properties. For simpler cases, like purely functional programs, they add a property enforcing the fact that the state is not modified. They also talk about permissions system for references and dynamic typing to import JavaScript. Unfortunately, some typing rules had to be added to F* in order to type monadic programs (the F* type system seems already quite complex).</li>
            <li>survey of <a href="http://www.rust-lang.org/">Rust</a>: they have four <a href="http://static.rust-lang.org/doc/0.8/rust.html#pointer-types">kinds of pointers</a>. This separation is based on a lot of experience writing the Firefox's web render in C++. They say owning pointers and borrowed are enough in most cases. We should focus on them to start with.</li>
            <li>survey of <a href="http://www.ats-lang.org/">ATS</a>: an ML-like language with dependent and linear types. I would say it has the same goal as us (programming with dependent types and effects) but extending ML instead of extending Coq. As a result the proving part is not as evolved as in Coq, and effects are not properly typed (a function can just be pure or not pure). However they have a lot of examples, including concurrent programs, and can interact with C libraries.</li>
            <li>quick reading of <a href="https://research.microsoft.com/pubs/146872/plpv11k-borgstrom.pdf">Verifying Stateful Programs with Substructural State and Hoare Types</a>: a functional language FX with a simple form of dependent types and linear types to handle mutable states. Compiled to proof carrying .Net assemblies.</li>
            <li>quick reading of <a href="http://www.ccs.neu.edu/home/amal/papers/linloc.pdf">L³ : A Linear Language with Locations</a>: an ML-like language which references can be safely updated to a value of another type</li>
            <li>quick reading of <a href="https://research.microsoft.com/en-us/um/people/leino/papers/krml136.pdf">The Spec# Programming System: An Overview</a>: a safer extension to C#, adding easy to use yet practical features. There are non-null references, pre and post-conditions, exceptions which can be raised, ... It is compiled to .Net assemblies and Boogie.</li>
          </ul>
          
          <h4>Week 19 – <em>10/07/13</em></h4>
          <ul>
            <li>thinking about reification of effects in Gallina for plumbery</li>
          </ul>
          <h5>TODO</h5>
          <ul>
            <li>look at <a href="https://github.com/gdijkstra/hs-to-gallina/">Hs to Gallina</a></li>
            <li>look at the <a href="http://hasp.cs.pdx.edu/habit-report-Nov2010.pdf">Habit</a> language</li>
            <li>look at <a href="http://www.sac-home.org/">Single Assignment C</a></li>
          </ul>
          
          <h4>Week 18 – <em>09/30/13</em></h4>
          <ul>
            <li>partial reading of the PhD of Sylvain Lebresne <a href="http://www.pps.univ-paris-diderot.fr/~lebresne/papers/these_lebresne.pdf">Une approche de la détection statique d'exceptions non rattrapées en appel par nom</a>: not directly useful since we focus on call-by-value instead of call-by-name.</li>
            <li>make <a href="https://github.com/clarus/c-cheat-sheets">cheat sheets</a> to teach the C language</li>
            <li>plugin with a declaration mechanism for effects: <a href="https://github.com/clarus/phd-experiments/tree/master/effects-plugin">sources</a></li>
            <li>ideas about an attributes (<a href="http://oreilly.com/catalog/progcsharp/chapter/ch18.html">examples</a> in .Net) and a meta-operators system for Coq terms</li>
          </ul>
          
          <h4>Week 17 – <em>09/23/13</em></h4>
          <ul>
            <li>reading of <a href="http://www.irisa.fr/prive/talpin/papers/ic94.pdf">The type and effect discipline</a> (Jean-Pierre Talpin and Pierre Jouvelot): a type and effects inference system with regions for an ML-like language with references</li>
            <li>partial reading of the PhD of Jean-Christophe Filliâtre: <a href="https://www.lri.fr/~filliatr/ftp/publis/these.ps.gz">Preuve de programmes impératifs en théorie des types</a>: similar to our work. I would say that the main difference is in the approach: in this PhD, Coq is only used to encode the semantic and prove properties. For us, Coq is also the source programming language.</li>
            <li>idea of a declaration mechanism for effects</li>
          </ul>
          
          <h4>Week 16 – <em>09/16/13</em></h4>
          <ul>
            <li>some thoughts about a GMP example</li>
          </ul>
          
          <h4>Week 15 – <em>09/09/13</em></h4>
          <ul>
            <li>trip to Venice for the birthday of <a href="http://www.pps.univ-paris-diderot.fr/~curien/">Pierre-Louis Currien</a></li>
            <li>online <a href="http://coq.io/packages/done.html">OPAM repository</a> with the <code>trunk</code> contribs</li>
          </ul>
          
          <h4>Week 14 – <em>09/02/13</em></h4>
          <ul>
            <li>restarting of the PhD after holidays</li>
            <li>website <a href="http://coq.io/">Coq.io</a> to centralize the PhD's production</li>
            <li>some experiments about a package manager for Coq</li>
          </ul>
          
          <h4>Week 13</h4>
          <h5>TODO</h5>
          <ul>
            <li>read <a href="http://www.cis.upenn.edu/~stevez/papers/ZNMZ12.pdf">Formalizing the LLVM Intermediate Representation for Verified Program Transformations</a> (Steve Zdancewic)</li>
          </ul>
          
          <h4>Week 12</h4>
          <ul>
            <li>reading of <a href="http://flint.cs.yale.edu/flint/publications/certsoft.pdf">Certified Software</a> (Zhong Shao)</li>
            <li>reading of <a href="http://software.imdea.org/~ckunz/publications/certtrans-SAS06.pdf">Certificate translation for optimizing compilers (Gilles Barthe)</a></li>
            <li>reading of <a href="http://hal.inria.fr/docs/00/43/21/70/PDF/paper2.pdf">A formally verified compiler back-end</a> (Xavier Leroy, Sandrine Blazy)</li>
            <li>reading of the LLVM's <a href="http://llvm.org/docs/LangRef.html">IR language</a></li>
            <li>reading of <a href="http://hal.archives-ouvertes.fr/docs/00/34/14/04/PDF/compiler_relation.pdf">Compiling Functional Types to Relational Specifications for Low Level Imperative Code</a></li>
            <li>reading of <a href="http://adam.chlipala.net/papers/CtpcPLDI07/CtpcPLDI07.pdf">A Certified Type-Preserving Compiler from Lambda Calculus to Assembly Language</a> (Adam Chlipala)</li>
            <li>reading of <a href="http://adam.chlipala.net/papers/ImpurePOPL10/ImpurePOPL10.pdf">A Verified Compiler for an Impure Functional Language</a> (Adam Chlipala)</li>
            <li>reading of <a href="http://gallium.inria.fr/~xleroy/publi/memory-model-journal.pdf">Formal verification of a C-like memory model and its uses for verifying program transformations</a> (Xavier Leroy, Sandrine Blazy)</li>
            <li>partial reading of the PhD <a href="https://www.lri.fr/~herms/these.pdf">Certification of a Tool Chain for Deductive Program Verification</a> (Paolo Herms)</li>
          </ul>
          
          <h4>Week 11</h4>
          <ul>
            <li>reading of <a href="http://www.chargueraud.org/research/2012/pretty/pretty.pdf">Pretty-big-step semantics</a>: a simplest definition of big-step semantics, mainly to handle nicely exceptions and non-termination. Still more complex to me than monads in a complete language.</li>
            <li>reading of <a href="http://www.cse.chalmers.se/~nad/publications/danielsson-semantics-partiality-monad.pdf">Operational Semantics Using the Partiality Monad</a>: definition of big-step semantics using monads for partiality and non-termination, with a proven correct toy compiler in Agda. The co-inductive monad may not be necessary (the inductive nat → option α is enough). The simulation relation with the virtual machine is complex too.</li>
            <li>reading of <a href="http://gallium.inria.fr/~xleroy/publi/coindsem-journal.pdf">Coinductive big-step operational semantics</a></li>
          </ul>
          
          <h4>Week 10</h4>
          <ul>
            <li>beginning of a compiler of arithmetic expressions with assertions to typed assembly</li>
            <li>paper accepted at <a href="http://esec-fse.inf.ethz.ch/">ESEC/FSE 2013</a> about probabilistic programs (from a previous internship at Microsoft India)</li>
          </ul>
          
          <h4>Week 9</h4>
          <ul>
            <li>summer school <a href="http://ejcp2013.inria.fr/home.htm">EJCP 2013</a> at Saint-Malo and Rennes (France)</li>
            <li>five minutes <a href="../projects/phd/ejcp_2013_slides.pdf">presentation</a> of the PhD</li>
          </ul>
          
          <h4>Week 8</h4>
          <ul>
            <li>reading of <a href="http://www.pps.univ-paris-diderot.fr/~miquel/publis/tlca01.pdf">The Implicit Calculus of Constructions</a></li>
            <li>reading of <a href="http://www.lix.polytechnique.fr/~bernardo/writings/barras-bernardo-icc-fossacs08.pdf">The Implicit Calculus of Constructions as a Programming Language with Dependent Types</a></li>
            <li>reading of <a href="http://www.irit.fr/TYPES2013/Slides/TYPES13Slides_Spiwack_et_al.pdf">The Rooster and the Syntactic Bracket</a></li>
            <li>beginning of a typed assembly with termination</li>
          </ul>
          <h5>TODO</h5>
          <ul>
            <li>find a nice definition of effects at the programmer level, starting from the assembly semantics to find the "natural" one</li>
            <li>read <a href="http://ynot.cs.harvard.edu/papers/jsc-wwv-10.pdf">Trace-based verification of imperative programs with I/O</a></li>
            <li>read <a href="http://ynot.cs.harvard.edu/papers/icfp09.pdf">Effective Interactive Proofs for Higher-Order Imperative Programs</a></li>
          </ul>
          
          <h4>Week 7</h4>
          <ul>
            <li>thinking about the specification of effects (traces are probably the most general method)</li>
            <li>thinking about inference of effects using the existing unification and dependent types mechanism in Coq (works for some restricted cases, but hard to generalize)</li>
            <li>partial reading of <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.52.3380&amp;rep=rep1&amp;type=ps">Modular compilers based on monad transformers</a></li>
          </ul>
          
          <h4>Week 6</h4>
          <ul>
            <li>thinking about a monad-like system for effects with effects which can be combined in a commutative manner; look at <a href="https://github.com/clarus/phd-experiments/tree/master/implicit-monads">implicit-monads</a> on GitHub</li>
            <li>attending to the <a href="http://www.irit.fr/TYPES2013/">TYPES 2013</a> conference</li>
          </ul>
          
          <h4>Week 5</h4>
          <ul>
            <li>do a first post for the next PPS blog: <a href="http://www.pps.univ-paris-diderot.fr/blog/posts/proof-by-extraction-in-coq-a-new-approach.html">Proof by extraction in Coq: a new approach</a></li>
            <li>add a <a href="https://github.com/clarus/phd-experiments">repository on GitHub</a> to publish experiments</li>
          </ul>
          <h5>TODO</h5>
          <ul>
            <li>read <a href="http://www.cs.umd.edu/~mwh/papers/monadic.pdf">Lightweight Monadic Programming in ML</a></li>
            <li>read <a href="http://research.microsoft.com/en-us/um/people/nswamy/papers/polymonads.pdf">Polymonads</a></li>
            <li>read <a href="http://www.cs.ucla.edu/~palsberg/tba/papers/tolmach-tic98.pdf">Optimizing ML Using a Hierarchy of Monadic Types</a></li>
            <li>read <a href="http://haskell.cs.yale.edu/wp-content/uploads/2011/02/POPL96-Modular-interpreters.pdf">Monad Transformers and Modular Interpreters</a></li>
            <li>check if implicit monads can be added using type classes</li>
          </ul>
          
          <h4>Week 4</h4>
          <ul>
            <li>make a blog for <a href="http://www.pps.univ-paris-diderot.fr/blog/">PPS</a></li>
            <li>prepare slides for <a href="http://cybele.gforge.inria.fr/">Cybele</a></li>
          </ul>
          
          <h4>Week 3</h4>
          <ul>
            <li>idea of a certified extraction process from Coq to a monadic Coq to remove the proof terms from decision algorithms</li>
            <li>idea of a JIT'd x86 DSL in Coq to give to Coq access to the computational efficiency of a real Turing computer</li>
            <li>beginning of an extraction plugin</li>
          </ul>
          
          <h4>Week 2</h4>
          <ul>
            <li><a href="https://github.com/clarus/cybele">github</a> repository for <a href="http://cybele.gforge.inria.fr/">Cybele</a></li>
            <li>abstract to submit to <a href="http://www.irit.fr/TYPES2013/">TYPES</a> checked</li>
            <li>evaluation of performances of a congruence version returning booleans</li>
            <li><a href="http://www.cicm-conference.org/2013/cicm.php">CICM</a> conference checked</li>
          </ul>
          <h5>TODO</h5>
          <ul>
            <li><a href="http://cybele.gforge.inria.fr/examples.html#congruence">congruence</a> example in a proof by certificate manner (we got an <code>universe inconsistency</code>)</li>
            <li>SAT solver</li>
            <li>registers allocation checker</li>
          </ul>
          
          <h4>Week 1</h4>
          <ul>
            <li>a website for <a href="http://cybele.gforge.inria.fr/">Cybele</a></li>
            <li>the <a href="http://cybele.gforge.inria.fr/get_started.html">get started</a> section</li>
          </ul>
          
          <%= h3(menu, :readings) %>
          <dl>
            <dt><a href="http://mattam.org/research/publications/drafts/Partiality_and_Recursion_in_Interactive_Theorem_Provers_-_An_Overview.pdf">Partiality and Recursion in Interactive Theorem Provers — An Overview</a></dt>
            <dd>Journal article about the main ways to define recursive functions in Coq.</dd>
            
            <dt><a href="http://www.plpv.org/plpv07/plpv07-megacz.pdf">A Coinductive Monad for Prop-Bounded Recursion</a></dt>
            <dd>Coinductive <em>bind</em> and <em>return</em> connectors to define a non-termination monad. Nice theory but slow to use. Possibility to pause the computations and continue.</dd>
            
            <dt><a href="http://www-verimag.imag.fr/~corbinea/ftp/publis/cade05.pdf">Reflecting Proofs in First-Order Logic with Equality</a></dt>
            <dd>Reflexive proofs for first-order logic using traces generated by <a href="http://cime.lri.fr/">CiME</a>.</dd>
            
            <dt><a href="http://wiki.portal.chalmers.se/cse/uploads/ForMath/vaacdvffdi">Verifying an algorithm computing Discrete Vector Fields for digital imaging</a></dt>
            <dd>Interesting formalization of an algorithm for computer vision. They first write an Haskell program, test it with <a href="http://en.wikipedia.org/wiki/QuickCheck">QuickCheck</a> and convert it by hand to Coq. The resulting procedure has only a termination proof to type-check. We could probably simplify this kind of development using our monad.</dd>
            
            <dt><a href="http://hal.inria.fr/inria-00529841/">Validating register allocation and spilling</a></dt>
            <dd>Soudness by "translation validation" of the register allocation of <a href="http://compcert.inria.fr/">Compcert</a>. An allocation is proven correct <em>a&nbsp;posteriori</em> by guessing the allocation scheme. About 350 lines for the validator, 900 for its correctness. Compile-time overhead of 20 %. Can work with different allocation strategies.</dd>
          </dl>
          <h4>TODO</h4>
          <ul>
            <li><a href="http://dl.acm.org/authorize?88111">Iterated Register Coalescing</a></li>
            <li><a href="http://www.cs.princeton.edu/~appel/papers/regalloc.pdf">Formal Verification of Coalescing Graph-Coloring Register Allocation</a></li>
            <li><a href="http://hal.inria.fr/inria-00202831/en/">SAT-MICRO: petit mais costaud !</a></li>
            <li><a href="http://proval.lri.fr/publications/lescuyer11these.pdf">Formalisation et développement d'une tactique réflexive pour la démonstration automatique en Coq</a> (PhD)</li>
            <li><a href="http://www.staff.science.uu.nl/~swier004/Publications/Thesis.pdf">A Functional Specification of Effects</a> (PhD)</li>
            <li><a href="http://stephane.glondu.net/these/">Vers une certification de l'extraction de Coq</a> (PhD)</li>
            <li><a href="http://www.pps.univ-paris-diderot.fr/~letouzey/download/these_letouzey.pdf">Programmation fonctionnelle certifiée: l'extraction de programmes dans l'assistant Coq</a> (PhD)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
