<%= header("../", :research) %>
      <% menu = [
        [:goal, "Goal"],
        [:ideas, "Ideas"],
        [:todo, "TODO"],
        [:readings, "Readings"],
        [:survey, "Survey"],
        [:ruby_plugin, "Ruby plugin for Coq"],
        [:toplevel, "What is a toplevel?"],
        [:debugger, "What is a debugger?"],
        [:meta_language, "What is a meta-language?"],
        [:patch_type_system, "What is a patch type system?"] ] %>
      <%= side_nav_header menu %>
          <h1>Preparation to the PhD</h1>
          <h4>Winter 2011</h4>
          <p><em>With <a href="http://didascalie.informatique.univ-paris-diderot.fr:8080/">Yann Régis-Gianas</a>.</em></p>
          <p>
            The main draft is available <a href="../projects/phd/toplevel_report.pdf">here</a> (in French).
          </p>
          
          <%= h3(menu, :goal) %>
          <p>
            Make <a href="http://coq.inria.fr/">Coq</a> more interactive using patchs and meta-languages. The proposal to get the grant is available <a href="../projects/phd/proposal_report.pdf">here</a> (in French).
          </p>
          
          <%= h3(menu, :ideas) %>
          <ul>
            <li>do a survey of the main tactic flavours (Coq, SSreflect, Mizard, …)</li>
            <li>plug external tools to Coq to use a new tactic language (Ruby, …)</li>
            <li>formalize what is a toplevel</li>
            <li>formalize what is a debugger, the evaluation of a terms with holes</li>
            <li>view type checking as abstract evaluation to formalize meta-languages</li>
            <li>view patch type checking as abstract partial evaluation</li>
            <li>study parallelism during type checking</li>
          </ul>
          
          <%= h3(menu, :todo) %>
          <ul>
            <li>try Agda</li>
            <li>try Erlang (done)</li>
            <li>try Smalltalk (in progress)</li>
            <li>try <a href="https://github.com/josevalim/elixir">Elixir</a></li>
            <li>try <a href="https://github.com/tarcieri/celluloid">Celluloid</a></li>
            <li>try <a href="http://rubini.us/">Rubinius</a></li>
            <li>try <a href="http://www.cs.utexas.edu/users/moore/acl2/">ACL2</a></li>
            <li>adapt OpenSCAD to be able to construct objects line by line like with CoqIde</li>
            <li>look at <a href="http://paral-itp.lri.fr/">Paral ITP</a> (done)</li>
            <li>look at <a href="http://www.texmacs.org/">TeXmacs</a></li>
            <li>try <a href="http://www.lambdacs.com/debugger/">Omniscient Debugging</a></li>
            <li>look at <a href="http://www.informatik.uni-bremen.de/uitp/">User Interfaces for Theorem Provers meetings</a> (in progress)</li>
            <li>look at <a href="http://en.wikipedia.org/wiki/Computer_Aided_Verification">Computer Aided Verification conference</a> (in progress)</li>
            <li>look at <a href="http://www.metaocaml.org/">MetaML</a> (in progress)</li>
            <li>look at <a href="http://www.jetbrains.com/">JetBrain's</a></li>
            <li>loot at <a href="http://www.cs.rice.edu/~taha/MSP/">Multi-stage Programming</a> (in progress)</li>
            <li>try the  <a href="http://claylabs.com/clay/">Clay</a> generic language (in progress)</li>
          </ul>
          
          <%= h3(menu, :readings) %>
          <ul>
            <li><a href="http://www.crash-safe.org/sites/default/files/plos11-submission.pdf">Preliminary Design of the SAFE Platform</a> (done)</li>
            <li><a href="http://adam.chlipala.net/papers/BedrockPLDI11/BedrockPLDI11Talk.pdf">Mostly-Automated Verification of Low-Level Programs</a> (in progress)</li>
            <li><a href="http://cedric.cnam.fr/~delahaye/papers/ltac%20(LPAR%2700).pdf">A Tactic Language for the System Coq</a> (in progress)</li>
            <li><a href="http://www.cl.cam.ac.uk/~jrh13/papers/style.html">Proof style</a> (done)</li>
            <li><a href="https://github.com/braibant/coq-tutorial-ml-tactics">coq-tutorial-ml-tactics</a> (todo)</li>
            <li><a href="http://assert-false.net/arnaud/papers/An%20abstract%20type%20for%20constructing%20tactics%20in%20Coq.pdf">An abstract type for constructing tactics in Coq</a> (in progress)</li>
            <li><a href="http://www.disi.unige.it/person/MoggiE/ftp/ic91.pdf">Notions of Computation and Monads</a> (todo)</li>
            <li><a href="http://www.cs.cmu.edu/~fp/papers/tocl07.pdf">Contextual Modal Type Theory</a> (todo)</li>
            <li><a href="https://who.rocq.inria.fr/Gilles.Dowek/Publi/schemes.pdf">On the expressive power of schemes</a> (in progress)</li>
            <li><a href="http://www.cl.cam.ac.uk/~jrh13/hol-light/tutorial_220.pdf">HOL-light's tutorial</a> (in progress)</li>
            <li><a href="http://www4.in.tum.de/~blanchet/iwil2010-sledgehammer.pdf">Three Years of Experience with Sledgehammer</a> (todo)</li>
            <li><a href="https://hal.archives-ouvertes.fr/file/index/docid/258384/filename/SsrDoc.pdf">SSReflect</a> (in progress)</li>
            <li><a href="http://www.chargueraud.org/research/2007/binders/binders_popl_08.pdf">Locally nameless representation</a> (todo)</li>
            <li><a href="http://www.cis.upenn.edu/~plclub/wiki-static/poplmark.pdf">The PoplMark Challenge</a> (in progress)</li>
            <li><a href="http://www.chargueraud.org/research/2010/cfml/main.pdf">Program Verification Through Characteristic Formulae</a> (todo)</li>
            <li><a href="http://www4.in.tum.de/~wenzelm/papers/async-isabelle-scala.pdf">Asynchronous Proof Processing with Isabelle/Scala</a> (todo)</li>
            <li><a href="http://tumb1.biblio.tu-muenchen.de/publ/diss/in/2002/wenzel.html">Isabelle/Isar - A versatile environment for humans</a> (todo)</li>
            <li><a href="http://www.cl.cam.ac.uk/~mom22/jit/jit.pdf">Verified Just-In-Time Compiler on x86</a> (todo)</li>
            <li><a href="http://citeseer.ist.psu.edu/viewdoc/summary?doi=10.1.1.37.9008">CRML</a> (in progress)</li>
            <li><a href="http://goto.ucsd.edu/~rjhala/papers/nested_refinements_a_logic_for_duck_typing.pdf">A logic for duck typing</a> (todo)</li>
            <li><a href="http://portal.acm.org/ft_gateway.cfm?id=2068896&amp;type=pdf">Creating Languages in Racket</a> (todo)</li>
            <li><a href="http://www.vpri.org/pdf/tr2011002_oecm.pdf">Open, extensible composition models</a> (todo)</li>
            <li><a href="http://www.cs.cmu.edu/~fp/courses/15312-f04/handouts/15-bidirectional.pdf">Bidirectional Type Checking</a> (todo)</li>
            <li><a href="https://lirias.kuleuven.be/bitstream/123456789/312814/1/6.pdf">From Type Checking by Recursive Descent to Type Checking with an Abstract Machine</a> (todo)</li>
          </ul>
          
          <%= h3(menu, :survey) %>
          <p>
            The paper <a href="http://link.springer.com/chapter/10.1007%2FBFb0097791">Proof style</a> is already a good survey but needs to be updated (published in 1996).
          </p>
          
          <%= h3(menu, :ruby_plugin) %>
          <p>
            Sources of the project are available <a href="http://hg.clarus.me/coq_ruby/">here</a>. It is not usable yet. The first step will be to be able to maipulate proof terms and make tactics on the Ruby side, before to connect it to Coq.
          </p>
          <ul>
            <li>read <a href="https://gforge.inria.fr/scm/viewvc.php/*checkout*/trunk/dev/doc/cic.dtd?root=coq">DTD definition</a> of Coq terms (done)</li>
            <li>look at the <a href="http://helm.cs.unibo.it/">Helm</a> project (done)</li>
            <li>look at the <a href="http://mowgli.cs.unibo.it/">MoWGLI</a> project (done)</li>
            <li>define a class of terms and a printer to Coq (done)</li>
            <li>define a toy set of tactics (done)</li>
            <li>define goals with sub-goals (done)</li>
            <li>define sum types with tactics (done)</li>
            <li>manage equalities for simple proofs (done)</li>
            <li>rewrite a new framework with better binders, goals with dependent holes (in progress)</li>
            <li>look at <a href="http://slimmer.gforge.inria.fr/tac/">Tac</a> (todo)</li>
            <li>show that they are more than two integers (todo)</li>
            <li>give a general class for inductive types (todo)</li>
          </ul>
          
          <%= h3(menu, :toplevel) %>
          <p>
            How to give a semantics to a toplevel given a semantics of a programming language, with a criteria for correctness? You can get the sources of a toy toplevel <a href="http://hg.clarus.me/toplevel">here</a>.
          </p>
          <ul>
            <li>define the semantic of a toplevel with respect to the semantic of a programming language (done)</li>
            <li>use relations instead of partial functions (done)</li>
            <li>explain what we want to modelize in the introduction (done)</li>
            <li>give a simple example of a toplevel (done)</li>
            <li>give an implementation of the toplevel (done)</li>
            <li>add an undo command (done)</li>
          </ul>
          
          <%= h3(menu, :debugger) %>
          <p>
            How to evaluate terms with holes or breakpoints?
          </p>
          <ul>
            <li>extend the toplevel's theory with the "…" keyword and formalize it (done)</li>
            <li>give an example of language with holes (done)</li>
            <li>prove the correctness of the example (todo)</li>
            <li>plug it to Gedit with a Python plugin (todo)</li>
            <li>extend the semantic to a debugger (todo)</li>
            <li>what does it mean to undo a command (todo)</li>
            <li>what does it mean to undo a command when it is not possible and what can be preserved (todo)</li>
          </ul>
          
          <%= h3(menu, :meta_language) %>
          <p>
            How to implement introspection and code generation with Smalltalk's style keeping static checkings?
          </p>
          <ul>
            <li>view type checking as abstract evaluation (done)</li>
            <li>formalize a meta-language with a semantics blended to type checking (done)</li>
            <li>give examples (done)</li>
            <li>use the object language as the meta-language (todo)</li>
            <li>implement it (todo)</li>
            <li>type code patches to type check in live (todo)</li>
          </ul>
          
          <%= h3(menu, :patch_type_system) %>
          <p>
            What is the type of a code patch?
          </p>
          <ul>
            <li>formalize a type-checker of a programming language with holes (in progress)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
