<%= header("../", :projects) %>
      <% menu = [
        [:verification, "Verification"],
        [:semantics, "Semantics"],
        [:privacy, "Privacy and access control"],
        [:decision_procedures, "Decision procedures"],
        [:security, "Security"],
        [:complexity_concurrency, "Complexity for concurrency"],
        [:medley, "Medley"],
        [:mechanized_proofs, "Mechanized proofs"],
        [:concurrency, "Concurrency"],
        [:type_theory, "Type theory"],
        [:dynamic_analysis, "Dynamic analysis"],
        [:names_binders, "Names and binders"],
        [:verified_transformations, "Verified transformations"],
        [:functionnal_programming, "Functionnal programming"],
        [:c_semantics, "C/C++ semantics"],
        [:type_systems, "Type systems"] ] %>
      <%= side_nav_header menu %>
          <h1>POPL 2012</h1>
          <p>Papers at <a href="http://www.cse.psu.edu/popl/12/">POPL 2012</a>.</p>
          
          <%= h3(menu, :verification) %>
          <ul>
            <li><a href="http://se.inf.ethz.ch/people/vanstaden/Freefinement.pdf">Freefinement</a> (Stephan van Staden, Cristiano Calcagno, and Bertrand Meyer)</li>
            <li><a href="http://research.microsoft.com/pubs/154895/popl148-lal.pdf">Underspecified harnesses and interleaved bugs</a> (Saurabh Joshi, Shuvendu Lahiri, and Akash Lal)</li>
            <li><a href="http://www.doc.ic.ac.uk/~gds/TowardsProgramLogicJavaScriptPOPL2012.pdf">A Program Logic for JavaScript</a> (Philippa Gardner, Sergio Maffeis, and Gareth Smith)</li>
          </ul>
          
          <%= h3(menu, :semantics) %>
          <ul>
            <li><a href="http://www.mpi-sws.org/~neelk/bounded-frp-popl12.pdf">Higher-Order Functional Reactive Programming in Bounded Space</a> (Neelakantan R Krishnaswami and Nick Benton and Jan Hoffmann)</li>
            <li><a href="http://www.mpi-sws.org/~gil/publications/rts.pdf">The Marriage of Bisimulations and Kripke Logical Relations</a> (Chung-Kil Hur, Derek Dreyer, Georg Neis, and Viktor Vafeiadis)</li>
            <li><a href="https://www.cs.indiana.edu/~sabry/papers/information-effects.pdf">Information Effects</a> (Roshan James and Amr Sabry)</li>
          </ul>
          
          <%= h3(menu, :privacy) %>
          <ul>
            <li><a href="http://people.csail.mit.edu/kuat/papers/jeeves.pdf">A Language for Automatically Enforcing Privacy Policies</a> (Jean Yang, Kuat Yessenov, and Armando Solar-Lezama)</li>
            <li><a href="http://software.imdea.org/~szanella/Zanella.2012.POPL.pdf">Probabilistic Relational Reasoning for Differential Privacy</a> (Gilles Barthe, Boris Köpf, Federico Olmedo, and Santiago Zanella Beguelin)</li>
            <li><a href="http://proglang.informatik.uni-freiburg.de/jscontest/popl-2012-tech.pdf">Access Permission Contracts for Scripting Languages</a> (Phillip Heidegger, Annette Bieniusa, and Peter Thiemann)</li>
          </ul>
          
          <%= h3(menu, :decision_procedures) %>
          <ul>
            <li><a href="http://www.cs.uiuc.edu/~madhu/dryad/popl12.pdf">Recursive Proofs for Inductive Tree Data-Structures</a> (P Madhusudan, Xiaokang Qiu, and Andrei Stefanescu)</li>
            <li><a href="http://research.microsoft.com/pubs/151730/paper.pdf">Symbolic Finite State Transducers: Algorithms and Applications</a> (Margus Veanes, Pieter Hooimeijer, and Benjamin Livshits, David Molnar, and Nikolaj Bjørner)</li>
            <li><a href="http://lara.epfl.ch/~kuncak/papers/KoeksalETAL12ConstraintsControl.pdf">Constraints as Control</a> (Ali Sinan Köksal, Viktor Kuncak, and Philippe Suter)</li>
          </ul>
          
          <%= h3(menu, :security) %>
          <ul>
            <li><a href="http://users.soe.ucsc.edu/~cormac/papers/popl12b.pdf">Multiple Facets for Dynamic Information Flow</a> (Thomas Austin and Cormac Flanagan)</li>
            <li><a href="http://www.cse.usf.edu/~ligatti/papers/code-inj.pdf">Defining Code-injection Attacks</a> (Donald Ray and Jay Ligatti)</li>
          </ul>
          
          <%= h3(menu, :complexity_concurrency) %>
          <ul>
            <li><a href="http://www.cs.ucsb.edu/~bultan/publications/popl12.pdf">Deciding Choreography Realizability</a> (Samik Basu, Tevfik Bultan, and Meriem Ouederni)</li>
            <li><a href="http://hal.archives-ouvertes.fr/docs/00/64/09/47/PDF/hal-tr.pdf">Analysis of Recursively Parallel Programs</a> (Ahmed Bouajjani and Michael Emmi)</li>
          </ul>
          
          <%= h3(menu, :medley) %>
          <ul>
            <li><a href="http://www.cs.cornell.edu/~jnfoster/papers/netcore-popl12.pdf">A Compiler and Run-time System for Network Programming Languages</a> (Christopher Monsanto, Nate Foster, Rob Harrison, and David Walker)</li>
            <li><a href="http://goto.ucsd.edu/~pmr/papers/nested-refinements-popl12.pdf">Nested Refinements: A Logic For Duck Typing</a> (Ravi Chugh, Patrick M Rondon, and Ranjit Jhala)</li>
            <li>An Abstract Interpretation Framework for Termination (Patrick Cousot and Radhia Cousot)</li>
          </ul>
          
          <%= h3(menu, :mechanized_proofs) %>
          <ul>
            <li><a href="http://www.complang.tuwien.ac.at/lkovacs/pub/POPL12_Kovacs.pdf">Playing in the Grey Area of Proofs</a> (Krystof Hoder, Laura Kovacs, and Andrei Voronkov)</li>
            <li><a href="http://flint.cs.yale.edu/flint/publications/supc.pdf">Static and User-Extensible Proof Checking</a> (Antonis Stampoulis and Zhong Shao)</li>
            <li><a href="http://eecs.northwestern.edu/~robby/lightweight-metatheory/popl2012-kcdeffmrtf.pdf">Run Your Research: On the Effectiveness of Lightweight Mechanization</a> (Casey Klein, John Clements, Christos Dimoulas, Carl Eastlund, and Matthias Felleisen, Matthew Flatt, Jay McCarthy, Jon Rafkind, Sam Tobin-Hochstadt, and Robert Bruce Findler)</li>
          </ul>
          
          <%= h3(menu, :concurrency) %>
          <ul>
            <li><a href="http://www.cs.toronto.edu/~zkincaid/pub/Farzan2012.html">Verification of Parameterized Concurrent Programs By Modular Reasoning about Data and Control</a> (Azadeh Farzan and Zachary Kincaid)</li>
            <li><a href="http://www.cs.purdue.edu/homes/suresh/papers/popl12.pdf">Resource-Sensitive Synchronization Inference by Abduction</a> (Matko Botincan and Mike Dodds and Suresh Jagannathan)</li>
            <li><a href="http://www.cs.bham.ac.uk/~udr/papers/sci-reddy-reynolds.pdf">Syntactic Control of Interference for Separation Logic</a> (Uday S Reddy and John C Reynolds)</li>
          </ul>
          
          <%= h3(menu, :type_theory) %>
          <ul>
            <li><a href="http://www.cs.cmu.edu/~drl/pubs/lh112tt/lh112tt.pdf">Canonicity for 2-Dimensional Type Theory</a> (Daniel R Licata and Robert Harper)</li>
            <li><a href="http://homepages.inf.ed.ac.uk/s0894694/publications/kammar-plotkin-algebraic-foundations-for-effect-dependent-optimisations.pdf">Algebraic Foundations for Effect-Dependent Optimisations</a> (Ohad Kammar and Gordon Plotkin)</li>
            <li><a href="http://gallium.inria.fr/~jcretin/papers/conf.pdf">On the Power of Coercion Abstraction</a> (Didier Remy and Julien Cretin)</li>
          </ul>
          
          <%= h3(menu, :dynamic_analysis) %>
          <ul>
            <li><a href="http://pag.gatech.edu/pubs/popl12.pdf?attredirects=0">Abstractions From Tests</a> (Mayur Naik, Hongseok Yang, and Ghila Castelnuovo and Mooly Sagiv)</li>
            <li><a href="http://users.soe.ucsc.edu/~cormac/papers/popl12a.pdf">Sound Predictive Race Detection in Polynomial Time</a> (Yannis Smaragdakis, Jacob M Evans, and Caitlin Sadowski, Jaeheon Yi, and Cormac Flanagan)</li>
          </ul>
          
          <%= h3(menu, :names_binders) %>
          <ul>
            <li><a href="http://www.labri.fr/perso/lbraud/papers/nominal-computation.pdf">Towards Nominal Computation</a> (Mikolaj Bojanczyk, Laurent Braud, Bartek Klin, and Slawomir Lasota)</li>
            <li><a href="http://www.cs.mcgill.ca/~bpientka/papers/recursive-types.pdf">Programming with Binders and Indexed Data-Types</a> (Andrew Cave and Brigitte Pientka)</li>
          </ul>
          
          <%= h3(menu, :verified_transformations) %>
          <ul>
            <li><a href="http://www.cis.upenn.edu/~stevez/papers/ZNMZ12.pdf">Formalizing the LLVM Intermediate Representation for Verified Program Transformation</a> (Jianzhou Zhao, Steve Zdancewic, Santosh Nagarakatte, and Milo M K Martin)</li>
            <li><a href="http://people.csail.mit.edu/rinard/paper/popl12.pdf">Optimal Randomized Transformation of Approximate Computations</a> (Zeyuan Allen Zhu, Sasa Misailovic, Jonathan Kelner, and Martin Rinard)</li>
            <li><a href="http://home.ustc.edu.cn/~fuming/papers/rgsim.pdf">A Rely-Guarantee-Based Simulation for Verifying Concurrent Program Transformations</a> (Hongjin Liang, Xinyu Feng, and Ming Fu)</li>
          </ul>
          
          <%= h3(menu, :functionnal_programming) %>
          <ul>
            <li><a href="http://www.pps.jussieu.fr/~balabons/Recherche/Balabonski-POPL12.pdf">A Unified Approach to Fully Lazy Sharing</a> (Thibaut Balabonski)</li>
            <li><a href="http://www.cs.umd.edu/~avik/projects/iogti/">The Ins and Outs of Gradual Type Inference</a> (Aseem Rastogi and Avik Chaudhuri and Basil Hosmer)</li>
            <li><a href="http://dmwit.com/papers/201107EL.pdf">Edit Lenses</a> (Martin Hofmann and Benjamin C Pierce and Daniel Wagner)</li>
          </ul>
          
          <%= h3(menu, :c_semantics) %>
          <ul>
            <li><a href="http://www.cl.cam.ac.uk/~ss726/papers/clarifying-popl12.ps">Clarifying and Compiling C/C++ Concurrency: from C++11 to POWER</a> (Mark Batty, Kayvan Memarian, and Scott Owens, Susmit Sarkar, and Peter Sewell)</li>
            <li><a href="http://gallium.inria.fr/~xleroy/publi/cpp-construction.pdf">A mechanized semantics for C++ object construction and destruction, with applications to resource management</a> (Tahina Ramananandro, Gabriel Dos Reis, and Xavier Leroy)</li>
            <li><a href="http://fsl.cs.uiuc.edu/pubs/ellison-rosu-2012-popl.pdf">An Executable Formal Semantics of C with Applications</a> (Chucky Ellison and Grigore Rosu)</li>
          </ul>
          
          <%= h3(menu, :type_systems) %>
          <ul>
            <li><a href="http://ashishagarwal.org/wp-content/uploads/2011/10/POPL2012-pdf-type-theory-preprint.pdf">A Type Theory for Probability Density Functions</a> (Sooraj Bhat, Ashish Agarwal, and Richard Vuduc and Alexander Gray)</li>
            <li><a href="http://www.cs.cmu.edu/~aldrich/papers/borrowing-popl11.pdf">A Type System for Borrowing Permissions</a> (Karl Naden, Robert L Bocchino Jr, Kevin Bierhoff, and Jonathan Aldrich)</li>
            <li><a href="http://research.microsoft.com/pubs/154568/popl2012-paper211.pdf">Self-Certification: Bootstrapping Certified Typecheckers in F* with Coq</a> (Pierre-Yves Strub and Nikhil Swamy, Cedric Fournet, and Juan Chen)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
