<%= header("../", :research) %>
      <% menu = [
        [:place, "Place"],
        [:report, "Final report"],
        [:done, "Done"],
        [:todo, "TODO"],
        [:timeline, "Timeline"] ] %>
      <%= side_nav_header menu %>
          <h1>Yale internship</h1>
          <h4>March to August 2010</h4>
          <p><em>With <a href="http://cs-www.cs.yale.edu/homes/shao/">Zhong Shao</a>.</em></p>
          
          <%= h3(menu, :place) %>
          <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=51+prospect+street+new+haven&amp;sll=40.793395,-77.860001&amp;sspn=0.043017,0.090895&amp;ie=UTF8&amp;hq=&amp;hnear=51+Prospect+St,+New+Haven,+Connecticut+06511&amp;t=h&amp;ll=41.313136,-72.925184&amp;spn=0.014248,0.026157&amp;z=16">Computer Science department of Yale University (New Haven, USA)</a>
          
          <%= h3(menu, :report) %>
          <p>Available as a <a href="../projects/yale_internship/report.pdf">PDF</a>.</p>
          
          <%= h3(menu, :done) %>
          <ul>
            <li>part of the <a href="http://zoo.cs.yale.edu/classes/cs422/2010/info">OS class</a> attempted</li>
            <li><a href="../projects/yale_internship/coq_separation_logic.v">Coq formalization</a> of a part of <a href="http://www.eecs.qmul.ac.uk/~hyang/paper/asl.pdf">Local Action and Abstract Separation Logic</a></li>
            <li>Incrementation operation added to CompCert</li>
            <li>beginning of a sample PCC and compiler <a href="../projects/yale_internship/coq_toy_pcc.v">implementation in Coq</a></li>
            <li>proof of safety of an optimistic queue : <a href="../projects/yale_internship/queue_report.pdf">report</a></li>
            <li>project of <a href="https://bitbucket.org/guillaumeclaret/fu_logic">Coq formalization</a> of <a href="http://flint.cs.yale.edu/flint/publications/roch.html">historical logic</a> for concurrent programs, with Yannis Kouskoulas</li>
          </ul>
          
          <%= h3(menu, :todo) %>
          <ul>
            <li>
              Proof on mixed C and assembly :
              <ul>
                <li>try to add in-lined assembly code extension to a toy language</li>
                <li>read <a href="http://flint.cs.yale.edu/flint/publications/ocap.pdf">OCAP framework</a></li>
                <li>read <a href="http://adam.chlipala.net/tmp/compose.pdf">Syntactic Proofs of Compositional Compiler Correctness</a></li>
                <li>use CompCert theorem to translate Hoare assertions on C to assembly PCC</li>
              </ul>
            </li>
          </ul>
          
          <%= h3(menu, :timeline) %>
          <h4>Week 19</h4>
            <ul>
              <li>Tuesday : logical axioms used to simplify equivalence classes of assertions and trace equality</li>
              <li>Wednesday : code reorganisation for transition semantics, proof of ENV rule</li>
            </ul>
          <h4>Week 18</h4>
            <ul>
              <li>Monday, Tuesday : still working on the <a href="https://bitbucket.org/guillaumeclaret/fu_logic">Coq historical logic formalization</a></li>
              <li>Wednesday : now traces cannot be empty</li>
            </ul>
          <h4>Week 17</h4>
            <ul>
              <li>Monday : discussions about what to do next for historical logic and for a <a href="https://bitbucket.org/guillaumeclaret/fu_logic">Coq implementation</a> with Yanni</li>
              <li>Tuesday : reading about prophecy variables and the <a href="http://qed.codeplex.com/">QED system</a></li>
              <li>Wednesday : coming back to the Coq code with a <a href="../projects/yale_internship/coq_fu_report.pdf">report</a> on it</li>
              <li>Tuesday, Friday : cleaning of the Coq code, discussions with Yanni for an implementation design choice</li>
            </ul>
          <h4>Week 16</h4>
            <ul>
              <li>Monday : beginning of a precise proof added to the <a href="../projects/yale_internship/queue_report.pdf">report</a></li>
              <li>Tuesday, Wednesday : precise proof of "enqueue"</li>
              <li>Thursday : beginning of a precise proof for "dequeue", properties to ensure the guarantee</li>
              <li>Friday : end of the queue proof</li>
            </ul>
          <h4>Week 15</h4>
            <ul>
              <li>Monday : proof of MCAS abandoned (historical logic not important), work on optimistic queue instead : <a href="../projects/yale_internship/queue_report.pdf">report</a></li>
              <li>Tuesday : formalization of queue safety property</li>
              <li>Wednesday : key properties + sketch of the proof</li>
              <li>Thursday : discussions on the proof + potential dereferencing bug found</li>
              <li>Friday : in the train ; partially read articles : <a href="http://people.csail.mit.edu/edya/publications/OptimisticFIFOQueue-DISC2004.pdf">Mozes - Shavit queues</a>, <a href="http://crpit.com/confpapers/CRPITV77Groves.pdf">queues with GC verification</a>, <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.111.1952&amp;rep=rep1&amp;type=pdf">the Repeat Offender Problem</a></li>
            </ul>
          <h4>Week 14</h4>
            <ul>
              <li>proof of the simple optimistic incrementation example</li>
              <li>thinking about logical variables formalization</li>
              <li>beginning of proof of MCAS</li>
            </ul>
          <h4>Week 13</h4>
            <ul>
              <li>Monday : Coq : soundness formalization updated to the new report version</li>
              <li>Tuesday : Coq : code refractored into multiple files</li>
              <li>Wednesday : sick</li>
              <li>Thursday : work on Fu's stack proof</li>
              <li>Friday : work on Fu's stack proof + looking for other algorithms</li>
            </ul>
          <h4>Week 12</h4>
            <ul>
              <li>Monday : Coq</li>
              <li>Tuesday : Coq</li>
              <li>Wednesday : Coq : soundness proof for 2 sequential rules</li>
              <li>Thursday : Coq : formalization of last cases for sequential rules, beginning of RG rules</li>
              <li>Friday : Coq : soundness theorems formalization</li>
            </ul>
          <h4>Week 11</h4>
            <ul>
              <li>Monday : application of RGSep in <a href="http://www.cl.cam.ac.uk/techreports/UCAM-CL-TR-726.html">Victor's PhD</a> read</li>
              <li>Tuesday : Ming Fu's logic formalization started</li>
              <li>Wednesday : Coq</li>
              <li>Thursday : Coq</li>
              <li>Friday : Coq</li>
            </ul>
          <h4>Week 10</h4>
            <ul>
              <li><a href="http://adam.chlipala.net/tmp/compose.pdf">Syntactic Proofs of Compositional Compiler Correctness</a> read</li>
              <li>beginning of a sample PCC and compiler <a href="../projects/yale_internship/coq_toy_pcc.v">implementation in Coq</a></li>
              <li>beginning of <a href="http://flint.cs.yale.edu/flint/publications/ocap.pdf">OCAP framework</a> read</li>
            </ul>
          <h4>Week 9</h4>
            <ul>
              <li>unsuccessful tests on a toy language with in-lined C code : <a href="../projects/yale_internship/coq_toy_compiler.v">Coq source</a></li>
              <li><a href="http://www.nepls.org/Events/24/">NEPLS</a> seminar</li>
            </ul>
          <h4>Week 8</h4>
            <ul>
              <li>Incrementation operation added to CompCert</li>
              <li>Look at the external function calls formalisation</li>
            </ul>
          <h4>Week 7</h4>
            <ul>
              <li><a href="../projects/yale_internship/coq_separation_logic.v">Coq formalization</a> of a part of <a href="http://www.eecs.qmul.ac.uk/~hyang/paper/asl.pdf">Local Action and Abstract Separation Logic</a></li>
              <li><a href="http://www.eecs.qmul.ac.uk/~hyang/paper/asl.pdf">Local Action and Abstract Separation Logic</a> read (until section 5)</li>
              <li><a href="http://research.microsoft.com/apps/pubs/?id=69431">Singularity: Rethinking the Software Stack</a> read</li>
              <li>beginning of a <a href="../projects/yale_internship/report.pdf">report</a></li>
            </ul>
          <h4>Week 6</h4>
            <ul>
              <li>look CompCert source code</li>
              <li>learn basis about the PowerPC assembly</li>
              <li>Coq, CompCert, cross compiler chain, PowerPC emulator installed</li>
            </ul>
          <h4>Week 5</h4>
            <ul>
              <li><a href="http://gallium.inria.fr/~xleroy/publi/cfront.pdf">Formal verification of a C compiler front-end</a> paper read</li>
              <li><a href="http://gallium.inria.fr/~xleroy/publi/compcert-CACM.pdf">Formal verification of a realistic compiler</a> paper read</li>
              <li>OS class 18 (<a href="http://zoo.cs.yale.edu/classes/cs422/2010/lec/l-microkernel">Microkernels and capabilities</a>) attempted</li>
              <li><a href="http://gallium.inria.fr/~xleroy/publi/compcert-backend.pdf">A formally verified compiler back-end</a> paper looked</li>
            </ul>
          <h4>Week 4</h4>
            <ul>
              <li>paper <a href="http://www.springerlink.com/content/j7m521k535012141/">Formal Modeling and Analysis of a Flash File System in Alloy </a> read</li>
              <li>paper <a href="http://www.springerlink.com/content/0xxt7g5532q15323/">Modelling and Proof of a Tree-Structured File System in Event-B and Rodin</a> read</li>
              <li>looking for interesting papers about file system formalization</li>
              <li>first <a href="http://zoo.cs.yale.edu/classes/cs422/2010/info">OS class</a> attempted (about file systems)</li>
            </ul>
          <h4>Week 3</h4>
            <ul>
              <li>trying to catch the <a href="http://zoo.cs.yale.edu/classes/cs422/2010/info">OS class</a> during Spring Break</li>
            </ul>
          <h4>Week 2</h4>
            <ul>
              <li>trying to catch the <a href="http://zoo.cs.yale.edu/classes/cs422/2010/info">OS class</a> during Spring Break</li>
              <li><a href="http://flint.cs.yale.edu/cs428/reading.html">papers about logic</a> read</li>
            </ul>
          <h4>Week 1</h4>
            <ul>
              <li>administrative stuffs</li>
            </ul>
      <%= side_nav_footer %>
<%= footer %>
