body {
	background-color:#478830;
	font-size:12pt;
	font-family:Arial;
	margin:0px;
	padding:0;
	color:#FFFFFF;
}

h1 {
	font-size:25pt;
	color:#FFFF99;
	margin:20px;
}

h2 {
	font-size:15pt;
	color:#FFFF99;
	margin:20px;
}

a {
	color:#FFFF99;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

li {
	list-style-type:square;
}

p {
	text-indent:10px;
}
#footer {
	font-size:10pt;
}
