html { 
  background: url(images/base.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 200px;
}

.cover {
  width: 700px;
  height: 600px;

  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  max-width:100%;
  max-height:100%;
  overflow:auto;
}

h1 {
  margin: 70px;
  font-size: 36px;
  line-height: 39.6px;
}

p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.7;
}
