<%= header("../", "Language", "GMP") %>
            <h1>GMP</h1>
            <p>We take sample codes from <a href="http://gmplib.org/">GMP</a> (the GNU Multiple Precision arithmetic library) to imagine a better way to program in Coq.</p>
            
            <h3>Introduction to GMP</h3>
            <p>The GMP functions have different prefixes:</p>
            <ul>
              <li><code>mpz_</code> for integers</li>
              <li><code>mpq_</code> for rationals</li>
              <li><code>mpf_</code> for floats</li>
              <li><code>mpn_</code> for internal functions</li>
            </ul>
            <p>We focus on integers. They are represented by a <code>__mpz_struct</code> with the fields:</p>
            <ul>
              <li><code>unsigned int *_mp_d</code> an array of limbs (machine words)</li>
              <li><code>int _mp_alloc</code> the number of allocated limbs</li>
              <li><code>int _mp_size</code> the number of currently used limbs (negative by convention if we are representing a negative number)</li>
            </ul>
            
            <h3>The addition</h3>
            <p>We want to implement in Coq the addition:</p>
            <pre>void mpz_add(mpz_t rop, mpz_t op1, mpz_t op2)</pre>
            <p>where <code>mpz_t</code> is a shortname for <code>__mpz_struct *</code>. It takes <code>op1</code> and <code>op2</code>, adds them and stores the result in <code>rop</code>.</p>
            
            <h4>Aliasing</h4>
            <p>It is not specified if the pointers <code>rop</code>, <code>op1</code> and <code>op2</code> target the same location. We may want to avoid aliasing since it makes the specification more complex. In case of aliasing <code>* op1</code> will store the result, else it remains unchanged. It can be simpler to just state as a pre-condition that there is no aliasing, and then <code>* op1</code> is always constant. However, sometimes, you want to do in-place additions and need aliasing.</p>
            <p>In any case, specification of aliasing raises new questions about how to design a clean API interface. A better approach could be to have an in-place addition:</p>
            <pre>void add1(mpz_t r, mpz_t x)</pre>
            <p>doing <code>*r += *x</code> and an addition of two numbers, built on top of <code>add1</code>:</p>
            <pre>void add2(mpz_t r, mpz_t x, mpz_t y)</pre>
            <p>doing <code>*r = *x + *y</code>, with all the pointers <code>r</code>, <code>x</code> and <code>y</code> targeting disjoint memory spaces. A purely functional version managing the memory allocation could also be cool:</p>
            <pre>mpz_t add_fun(mpz_t x, mpz_t y)</pre>
            
            <h4>Is Hoare logic simple enough?</h4>
            <p><a href="http://en.wikipedia.org/wiki/Hoare_logic">Hoare logic</a> is about inference rules manipulating preconditions and postconditions. Let us forget about aliasing problems for now. To specify the assignments, the rule:</p>
            <pre>――――――――――――――――――
{P(n)} x:=n {P(x)}</pre>
            <p>gives a set of acceptable couples of preconditions and postconditions, so has a Coq type:</p>
            <p class="text-center">(State → Prop) → (State → Prop) → Prop</p>
            <p>It would be simpler to have one predicate to specify the possible couples of input/output values for the store <code>x</code>. This predicate would be of type:</p>
            <p class="text-center">State → State → Prop</p>
            <p>This is not enough since we also need rules to assemble such predicates, but this is still a progress.</p>
            
            <h4>How to name and plug effects?</h4>
            <p>Let us define two functions <code>f1</code> and <code>f2</code> with effects <code>ε1</code> and <code>ε2</code>. You need to know if these two effects are the same in order to compose <code>f1</code> and <code>f2</code> and infer the resulting effect. If <code>ε1</code> and <code>ε2</code> are state effects over an integer, you must know if these integers are actually the same or not. In the first case the composed effect would be a state of one integer, and in the second case a state of two integers.</p>
            <p>In Haskell effects are represented by monads. The monads you are using are inferred by the type classes mechanism. But you have to explicitly write monad transformers to compose effects. We would like to have an automatic system for that.</p>
<%= footer("../", "Language") %>
