<%= header("../", "Language", nil) %>
            <h1><i class="icon-pencil"></i> Language</h1>
            <p>The goal is to extend the Coq language to make it as convenient to write programs as <a href="http://ocaml.org/">OCaml</a>. In particular we want three kinds of effects:</p>
            <ul>
              <li>state for references</li>
              <li>exceptions</li>
              <li>non-termination</li>
            </ul>
            <p>These effects can encoded into a purely functional language using <a href="http://en.wikipedia.org/wiki/Monad_(functional_programming)">monads</a>, as it is done in <a href="http://www.haskell.org/haskellwiki/Haskell">Haskell</a>. In this way they do not harm the logic consistency of Coq. There are still unsolved questions:</p>
            <ul>
              <li>How to compose effects? (we do not think <a href="http://en.wikipedia.org/wiki/Monad_transformer">monads transformers</a> are usable)</li>
              <li>How to specify effects? (using <a href="http://en.wikipedia.org/wiki/Hoare_logic">Hoare logic</a> for example)</li>
              <li>How to compile them efficiently? (see the <a href="../compiler/">compiler</a> section)</li>
            </ul>
<%= footer("../", "Language") %>
