<%= header("../", "Language", "Plug effects") %>
            <h1>Plug effects</h1>
            <p>We want to find a way to name and plug effects together, in a way which is consistent with what a programmer implicitly expects.</p>
            
            <h3>Examples</h3>
            <p>We list some examples our system should support.</p>
            <h4>Pointers as parameters</h4>
            <pre>void add(int * r, int * n) {
  *r += *n;
}</pre>
            <p>Pointers are represented by state effects, and pointers as parameters will be represented using a parametrized effect system.</p>
            
            <h4>Higher-order functions</h4>
            <pre>map : ∀ A B, ∀ ε, (A -ε-> B) -> list A -ε-> list B</pre>
            <p>Higher-order functions can have functional parameters doing any effects, and these effects should be reflected in their output type.</p>
            
            <h4>Higher-order functions with effects</h4>
            <pre>let apply_incr f =
  f ();
  n := !n + 1</pre>
            <p>We would like to state that this function increments by one the counter <code>n</code>, but this may not be the case if <code>f</code> modifies <code>n</code>. So we should also say that <code>f</code> keeps <code>n</code> constant if it can access <code>n</code> or, in a stronger but less complete way, that <code>f</code> cannot access to memory region of <code>n</code> at all.</p>
            
            <h4>Deep exceptions</h4>
            <p>Let <code>A</code>, <code>B</code> and <code>C</code> be three modules, and <code>E</code> an exception defined in <code>C</code>. The module <code>C</code> has a function <code>foo</code>, which takes a parameter <code>f</code>, applies it and catches all the exceptions <code>E</code>. Should <code>foo</code> catch an exception <code>E</code> raised by <code>f</code>?</p>
            <p>In the case <code>bar f</code> is called from <code>A</code>, where <code>bar</code> is defined in <code>B</code> and gives a call to <code>foo f</code>, if <code>B</code> imports <code>C</code> hiding its interface (<code>Require Import</code> in Coq), and <code>A</code> imports <code>B</code>, then we expect <code>foo</code> not to be able to catch an exception <code>E</code> from <code>f</code> (<code>A</code> can know the definition of <code>E</code> and define a function <code>f</code> raising <code>E</code> importing <code>C</code> directly). We expect it because if we want full abstraction, <code>B</code> should hide the exception protocol from <code>C</code> used by <code>E</code> to the module <code>A</code>. But in practice, in most programming languages, this is not what is happening when <code>A</code> gets access to the definition of <code>E</code>: the exception would be caught by <code>foo</code>. We think this is a bad behavior, because you should never be surprised by another part of the code you did not write catching the exceptions you raise.</p>
            
            <h3>Different kinds of effects</h3>
            <p>We classify effects into three categories:</p>
            <ul>
              <li>effects we use and determined statically</li>
              <li>effects we use and given as a parameters</li>
              <li>effects given as parameters and never used (all the current effects of the system, defined somewhere else and which we do not care about)</li>
            </ul>
<%= footer("../", "Language") %>
