html {
  overflow-y: scroll;
}

body {
  padding-bottom: 40px;
}

.navbar-inner {
  border-radius: 0px;
}

.container-fluid {
  max-width: 1000px;
  margin: 0 auto;
}

.nav-list ul {
  margin-top: 10px;
  list-style: none;
}

.nav-list li {
  line-height: 25px;
}

h3 {
  margin-top: 30px;
}

blockquote {
  background-color: white;
}

cite {
  color: #666666;
}
