{header}
<title>{repo|escape}: {node|short} {path|escape}</title>
</head>
<body>

<div class="container">
<div class="menu">
<div class="logo">
<a href="http://hg.clarus.me/">
<img src="{staticurl}hglogo.png" alt="mercurial" /></a>
</div>
<ul>
<li><a href="{url}shortlog/{node|short}{sessionvars%urlparameter}">log</a></li>
<li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
<li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
<li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
</ul>
<ul>
<li><a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a></li>
<li class="active">browse</li>
</ul>
<ul>
{archives%archiveentry}
</ul>
</div>

<div class="main">
<h2>
  <a href="{url}{sessionvars%urlparameter}">{repo|escape}</a>
  <span class="fileline">  
    hg clone http://hg.clarus.me/{repo}
  </span>
</h2>
<h3>directory {path|escape} @ {rev}:{node|short} {tags%changelogtag}</h3>

<form class="search" action="{url}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30" /></p>
<div id="hint">find changesets by author, revision,
files, or words in the commit message</div>
</form>

<table class="bigtable">
<tr>
  <th class="name">name</th>
  <th class="size">size</th>
  <th class="permissions">permissions</th>
</tr>
<tr class="fileline parity{upparity}">
  <td class="name"><a href="{url}file/{node|short}{up|urlescape}{sessionvars%urlparameter}">[up]</a></td>
  <td class="size"></td>
  <td class="permissions">drwxr-xr-x</td>
</tr>
{dentries%direntry}
{fentries%fileentry}
</table>
</div>
</div>
{footer}
