<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Guillaume Claret</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Homepage">
    <meta name="author" content="Guillaume Claret">
    <link rel="shortcut icon" type="image/png" href="<%= dir %>home/images/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="<%= dir %>home/css/bootstrap-green.min.css" rel="stylesheet" />
    <link href="<%= dir %>home/css/style.css" rel="stylesheet" />
    <link href="<%= dir %>home/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="<%= dir %>home/js/jquery-1.10.1.min.js"></script>
    <script src="<%= dir %>home/js/bootstrap.min.js"></script>
    <!--[if IE 7]>
      <link href="<%= dir %>home/font/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="<%= dir %>.">Guillaume Claret</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% links = [
                  [:research, "Research", "research.html"],
                  [:projects, "Projects", "projects.html"],
                  [:teaching, "Teaching", "teaching.html"]
                ]
                if active_link && !links.find {|l| l[0] == active_link} then
                  raise "Link \"#{active_link.inspect}\" not found"
                end
                links.each do |id, name, url|
              %>
              <li<%= " class=\"active\" " if active_link == id %>><a href="<%= dir + url %>"><%= h name %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
