<div class="row-fluid">
        <div class="span3 nav-list icons hidden-phone">
          <ul>
            <% for id, name in menu do %>
            <li><i class="fa fa-chevron-right"></i> <a href="#<%= id %>"><%= h name %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="span9">
