<%= header("", nil, nil) %>
      <header>
        <div class="row jumbotron">
          <div class="col-md-12">
            <p><img src="images/rooster.jpg" alt="rooster" class="img-rounded pull-left img-responsive" /></p>
            <h1>Coq.io</h1>
            <p class="lead"><em>Reduce the cost of <a href="https://en.wikipedia.org/wiki/Formal_verification">formally certified</a> programming.</em></p>
            <p>We want to reduce the cost of formal verification in the software industry extending the <a href="http://coq.inria.fr/">Coq</a> theorem prover to a programming language.</p>
          </div>
        </div>
      </header>
      <main>
        <div class="row">
          <div class="col-md-4">
            <h2><i class="icon-pencil"></i> Language</h2>
            <p>An extended Gallina to simply programming.</p>
            <p><a class="btn btn-primary" href="language/">More &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2><i class="icon-cog"></i> Compiler</h2>
            <p>A safe and efficient compiler.</p>
            <p><a class="btn btn-primary" href="compiler/">More &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2><i class="icon-gift"></i> Packages</h2>
            <p>A package manager.</p>
            <p><a class="btn btn-primary" href="packages/">More &raquo;</a></p>
          </div>
        </div>
      </main>
<%= footer("", nil) %>
