<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
          <h1>Boston</h1>
          <h4>May 1-2, 2010</h4>
          <img alt="Boston" style="width: 100%" class="img-polaroid" src="images/boston.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://scaron.info/">Stéphane Caron</a></li>
            <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
            <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
            <li><a href="http://guillaume.segu.in/">Guillaume Seguin</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li>by Stéphane Caron (coming soon)</li>
            <li><a href="http://picasaweb.google.com/pierre.gailllard/Boston#">by Pierre Gaillard</a></li>
            <li><a href="http://picasaweb.google.com/101501670045758611836/Boston1Mai2010#">by Michaël Mathieu</a></li>
            <li><a href="http://picasaweb.google.fr/ixceuh/WeekendABostonMai?authkey=Gv1sRgCPLRma-0uKf99AE">by Guillaume Seguin</a></li>
            <li><a href="http://picasaweb.google.com/guillaume.claret/BostonMay2010#">by me</a></li>
          </ul>
          
          <%= h3(menu, :arrivals_departures) %>
          <ul>
            <li>Stéphane Caron : by plane : Friday 5:44 pm - Sunday 8:30 pm</li>
            <li>Michaël Mathieu : by plane : Friday 9:55 pm - Sunday 5:55 pm</li>
            <li>Guillaume Seguin : by plane : Friday 7:23 pm - Sunday 8:30 pm</li>
            <li>me : by Amtrak train (South Station) : Friday 9:59 pm - Sunday 9:25 pm</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
