<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
          <h1>Boston</h1>
          <h4>June 5-6, 2010</h4>
          <img alt="Boston" style="width: 100%" class="img-polaroid" src="images/boston.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li>by Pierre Gaillard (coming soon)</li>
            <li><a href="http://picasaweb.google.com/guillaume.claret/BostonJune2010#">by me</a></li>
          </ul>
          
          <%= h3(menu, :arrivals_departures) %>
          <ul>
            <li>me : by Peter Pan bus : Friday 8:45 pm - Sunday 7:30 pm</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
