<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
          <h1>Chicago</h1>
          <h4>August 7-8, 2010</h4>
          <img alt="Chicago" style="width: 100%" class="img-polaroid" src="images/chicago.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://guillaume.segu.in/">Guillaume Seguin</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li><a href="http://picasaweb.google.fr/ixceuh/WeekendAChicago?authkey=Gv1sRgCN6Vve_l5au51wE&amp;feat=embedwebsite#">by Guillaume Seguin</a></li>
            <li><a href="http://picasaweb.google.com/guillaume.claret/ChicagoAugust2010#">by me</a></li>
          </ul>
          
          <%= h3(menu, :arrivals_departures) %>
          <ul>
            <li>Guillaume Seguin : Friday 7:00 pm - Sunday 7:30 pm</li>
            <li>me : Saturday 9:24 am - Monday 6:15 am</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
