<%= header("../../", nil) %>
      <% menu = [ [:trips, "Trips"] ] %>
      <%= side_nav_header menu %>
          <h1>United States</h1>
          <h4>March to August 2010</h4>
          
          <%= h3(menu, :trips) %>
          <ul>
            <li><a href="paris_september.html">Paris presentation</a> (September 2010)</li>
            <li><a href="west_august.html">West coast visit</a> (August 2010)</li>
            <li><a href="chicago_august.html">Chicago visit</a> (August 2010)</li>
            <li><a href="nantucket_july.html">Nantucket visit</a> (July 2010)</li>
            <li><a href="new_haven_july.html">New Haven presentation</a> (July 2010)</li>
            <li><a href="niagara_july.html">Niagara Falls visit</a> (July 2010)</li>
            <li><a href="new_york_june.html">New York visit</a> (June 2010)</li>
            <li><a href="boston_june.html">Boston visit</a> (June 2010)</li>
            <li><a href="new_york_may.html">New York visit</a> (May 2010)</li>
            <li><a href="miami_may.html">Miami visit</a> (May 2010)</li>
            <li><a href="boston_may.html">Boston visit</a> (May 2010)</li>
            <li><a href="new_york_april_bis.html">New York visit again</a> (April 2010)</li>
            <li><a href="new_york_april.html">New York visit</a> (April 2010)</li>
            <li><a href="washington_april.html">Washington visit</a> (April 2010)</li>
            <li><a href="new_haven_march.html">New Haven presentation</a> (March 2010)</li>
            <li><a href="state_college_march.html">Penn State University visit</a> (March 2010)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
