<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
          <h1>Miami</h1>
          <h4>May 13-16, 2010</h4>
          <img alt="Miami" style="width: 100%" class="img-polaroid" src="images/miami.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://scaron.info/">Stéphane Caron</a></li>
            <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
            <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
            <li><a href="http://segu.in/">François Seguin</a></li>
            <li><a href="http://guillaume.segu.in/">Guillaume Seguin</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li><a href="https://picasaweb.google.com/scaron42/Floride?authkey=Gv1sRgCKqz8tDrvf6WVA#">by Stéphane Caron</a></li>
            <li><a href="http://picasaweb.google.com/pierre.gailllard/Floride#">by Pierre Gaillard</a></li>
            <li><a href="http://picasaweb.google.fr/101501670045758611836/Florida#">by Michaël Mathieu</a></li>
            <li>by Guillaume Seguin (coming soon)</li>
            <li><a href="http://picasaweb.google.com/guillaume.claret/FloridaMay2010#">by me</a></li>
          </ul>
          
          <%= h3(menu, :arrivals_departures) %>
          <ul>
            <li>Stéphane Caron : by plane : Thursday 1:54 pm - Monday 7:50 am</li>
            <li>Pierre Gaillard : by plane : Thursday 2:45 pm - Monday 7:15 am</li>
            <li>Michaël Mathieu : by plane : Thursday 1:45 pm - Monday 7:30 am</li>
            <li>François Seguin : by plane : Thursday 1:54 pm - Saturday 8:00 am</li>
            <li>Guillaume Seguin : by plane : Thursday 1:54 pm - Monday 7:50 am</li>
            <li>me : by plane from New York : Thursday 1:45 pm - Monday 7:30 am</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
