<%= header("../../", nil) %>
      <% menu = [ [:pictures, "Pictures"] ] %>
      <%= side_nav_header menu %>
          <h1>Nantucket</h1>
          <h4>July 24-25, 2010</h4>
          <img alt="Nantucket" style="width: 100%" class="img-polaroid" src="images/nantucket.jpg" />
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li><a href="http://picasaweb.google.com/guillaume.claret/NantucketJuly2010?authkey=Gv1sRgCNPdlu-e7eifLA#">on Picasa</a></li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
