<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrival_departure, "Arrival / departure"]] %>
      <%= side_nav_header menu %>
          <h1>New York</h1>
          <h4>April 4, 2010</h4>
          <img alt="New York" style="width: 100%" class="img-polaroid" src="images/new_york.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li>by Michaël Mathieu (coming soon)</li>
          </ul>
          
          <%= h3(menu, :arrival_departure) %>
          <ul>
            <li>me : Sunday 4:00 am (by Chinatown bus) - Sunday 22:00 pm (by Metro North train)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
