<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
        <h1>New York</h1>
        <h4>June 25-28, 2010</h4>
        <img alt="New York" style="width: 100%" class="img-polaroid" src="images/new_york.jpg" />
        
        <%= h3(menu, :with) %>
        <ul>
          <li><a href="http://scaron.info/">Stéphane Caron</a></li>
          <li>Marie and Jacques-Henri Jourdan</li>
          <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
          <li><a href="http://guillaume.segu.in/">Guillaume Seguin</a></li>
        </ul>
        
        <%= h3(menu, :pictures) %>
        <ul>
          <li>by Stéphane Caron (coming soon)</li>
          <li><a href="http://picasaweb.google.com/116980822960287456834/NY?authkey=Gv1sRgCO-D1suq_NOYPw#">by Marie and Jacques-Henri Jourdan</a></li>
          <li><a href="http://picasaweb.google.fr/101501670045758611836/NewYorkCityJuly3th2010#">by Michaël Mathieu</a></li>
          <li><a href="http://picasaweb.google.fr/ixceuh/WeekendANewYorkJuin2010?authkey=Gv1sRgCKOroqPV-par-wE#">by Guillaume Seguin</a></li>
          <li><a href="http://picasaweb.google.com/guillaume.claret/NewYorkJune2010#">by me</a></li>
        </ul>
        
        <%= h3(menu, :arrivals_departures) %>
        <ul>
          <li>Stéphane Caron : by bus : Friday ~ 7:00 pm - Sunday ~ 5:00 pm</li>
          <li>Jacques-Henri Jourdan : by plane : Friday 7:13 am (JFK) - Monday 5:15 pm (Newark)</li>
          <li>Guillaume Seguin : Saturday 4:00 am - Sunday 9:00 pm</li>
          <li>me : by train : Saturday morning - Sunday night</li>
        </ul>
      <%= side_nav_footer %>
<%= footer %>
