<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
        <h1>New York</h1>
        <h4>May 29-30, 2010</h4>
        <img alt="New York" style="width: 100%" class="img-polaroid" src="images/new_york.jpg" />
        
        <%= h3(menu, :with) %>
        <ul>
          <li><a href="http://scaron.info/">Stéphane Caron</a></li>
          <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
          <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
        </ul>
        
        <%= h3(menu, :pictures) %>
        <ul>
          <li>by Stéphane Caron (coming soon)</li>
          <li>by Pierre Gaillard (coming soon)</li>
          <li>by Michaël Mathieu (coming soon)</li>
          <li><a href="http://picasaweb.google.com/guillaume.claret/NewYorkMay2010#">by me</a></li>
        </ul>
        
        <%= h3(menu, :arrivals_departures) %>
        <ul>
          <li>Stéphane Caron : by bus : Friday 19:15 pm - Sunday 5:00 pm</li>
          <li>Pierre Gaillard : by bus : Saturday 10:30 am - Sunday ?</li>
          <li>me : by train : by train : Saturday 10:12 am - Sunday ?</li>
        </ul>
      <%= side_nav_footer %>
<%= footer %>
