<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
          <h1>New York</h1>
          <h4>April 10-11, 2010</h4>
          <img alt="New York" style="width: 100%" class="img-polaroid" src="images/new_york.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
            <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
            <li><a href="http://guillaume.segu.in/">Guillaume Seguin</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li><a href="http://picasaweb.google.com/pierre.gailllard/NewYork">by Pierre Gaillard</a></li>
            <li><a href="http://picasaweb.google.com/101501670045758611836/NewYork10Avril2010?authkey=Gv1sRgCNWU7dWr3a7bOw&feat=directlink#">by Michaël Mathieu</a></li>
            <li><a href="http://picasaweb.google.fr/ixceuh/WeekendANYCAvril?authkey=Gv1sRgCOqYgu7X9_P1Wg#">by Guillaume Seguin</a></li>
            <li><a href="http://picasaweb.google.com/guillaume.claret/NewYorkApril2010#">by me</a></li>
          </ul>
          
          <%= h3(menu, :arrivals_departures) %>
          <ul>
            <li>Pierre Gaillard : by Chinatown bus : Saturday 10:30 am - Sunday 20:00 pm</li>
            <li>Guillaume Seguin : by plane (JFK) : Friday - Sunday</li>
            <li>me : by MetroNorth train (Grand Central Terminal) : Saturday 8:42 am - Sunday 22:22 pm</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
