<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"]] %>
      <%= side_nav_header menu %>
          <h1>New Haven</h1>
          <h4>March 27-28, 2010</h4>
          <img alt="New Haven" style="width: 100%" class="img-polaroid" src="images/new_haven.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li><a href="http://picasaweb.google.com/pierre.gailllard/NewHaven">by Pierre Gaillard</a></li>
            <li><a href="http://share.ovi.com/album/guillaume.claret.PierreatNewHave">by me</a></li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
