<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
          <h1>New Haven</h1>
          <h4>July 17-18, 2010</h4>
          <img alt="New Haven" style="width: 100%" class="img-polaroid" src="images/new_haven.jpg" />
          
          <%= h3(menu, :with) %>
          <ul>
            <li><a href="http://scaron.info/">Stéphane Caron</a></li>
            <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
            <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
          </ul>
          
          <%= h3(menu, :pictures) %>
          <ul>
            <li>by Stéphane Caron (coming soon)</li>
            <li>by Pierre Gaillard (coming soon)</li>
            <li>by Michaël Mathieu (coming soon)</li>
            <li><a href="http://picasaweb.google.com/guillaume.claret/NewHavenJuly2010#">by me</a></li>
          </ul>
          
          <%= h3(menu, :arrivals_departures) %>
          <ul>
            <li>Stéphane Caron : by plane : Friday 10:42 pm - Sunday 6:36 pm</li>
            <li>Pierre Gaillard : by bus : Friday 9:50 pm - Sunday 8:15 pm</li>
            <li>Michaël Mathieu : by train</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
