<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
        <h1>Niagara Falls</h1>
        <h4>July 3-4, 2010</h4>
        <img alt="Niagara Falls" style="width: 100%" class="img-polaroid" src="images/niagara.jpg" />
        
        <%= h3(menu, :with) %>
        <ul>
          <li><a href="http://scaron.info/">Stéphane Caron</a></li>
          <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
          <li><a href="http://myrhev.net/">Michaël Mathieu</a></li>
        </ul>
        
        <%= h3(menu, :pictures) %>
        <ul>
          <li>by Stéphane Caron (coming soon)</li>
          <li><a href="http://picasaweb.google.com/pierre.gailllard/Niagara?feat=directlink">by Pierre Gaillard</a></li>
          <li><a href="http://picasaweb.google.com/101501670045758611836/NiagaraFalls?feat=directlink">by Michaël Mathieu</a></li>
          <li><a href="http://picasaweb.google.com/guillaume.claret/NiagaraJuly2010#">by me</a></li>
        </ul>
        
        <%= h3(menu, :arrivals_departures) %>
        <ul>
          <li>Stéphane Caron : by plane : Friday 8:03 pm - Sunday 7:59 pm</li>
          <li>Pierre Gaillard : by plane : Friday 10:04 pm - Sunday 7:59 pm</li>
          <li>Michaël Mathieu : by plane : Friday 8:00 pm - Sunday 7:59 pm</li>
          <li>me : from New York : Friday 6:51 pm (by train) - Sunday 7:59 pm (by plane)</li>
        </ul>
      <%= side_nav_footer %>
<%= footer %>
