<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
        <h1>Paris</h1>
        <h4>September 2-3, 2010</h4>
        <img alt="Paris" style="width: 100%" class="img-polaroid" src="images/paris.jpg" />
        
        <%= h3(menu, :with) %>
        <ul>
          <li><a href="http://flint.cs.yale.edu/fuming/">Ming Fu</a></li>
          <li>Yiheng Xie</li>
        </ul>
        <%= h3(menu, :pictures) %>
        <ul>
        </ul>
        
        <%= h3(menu, :arrivals_departures) %>
        <ul>
          <li>me : Wednesday 11:31 am - Friday 8:16 am</li>
        </ul>
      <%= side_nav_footer %>
<%= footer %>
