<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"] ] %>
      <%= side_nav_header menu %>
        <h1>State College</h1>
        <h4>March 20-21, 2010</h4>
        <img alt="State College" style="width: 100%" class="img-polaroid" src="images/state_college.jpg" />
        
        <%= h3(menu, :with) %>
        <ul>
          <li><a href="http://scaron.info/">Stéphane Caron</a></li>
          <li><a href="http://guillaume.segu.in/">Guillaume Seguin</a></li>
        </ul>
        
        <!--<ul>
          <li><a href="http://share.ovi.com/album/guillaume.claret.StateCollegeMar">by me</a></li>
        </ul>-->
      <%= side_nav_footer %>
<%= footer %>
