<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
        <h1>Washington</h1>
        <h4>April 1-3, 2010</h4>
        <img alt="Washington" style="width: 100%" class="img-polaroid" src="images/washington.jpg" />
        
        <%= h3(menu, :with) %>
        <ul>
          <li><a href="http://copainsdavant.linternaute.com/membre/3768988/1123651498/nathanael_francois/">Nathanaël François</a></li>
          <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
        </ul>
        
        <%= h3(menu, :pictures) %>
        <ul>
          <li><a href="http://www.facebook.com/album.php?aid=54827&id=1126384691&l=d2c164ab5e">by Nathanaël François</a></li>
          <li><a href="http://picasaweb.google.com/pierre.gailllard/WashingtonCherryBlossom#">by Pierre Gaillard</a></li>
          <li><a href="http://picasaweb.google.com/guillaume.claret/WashingtonVisitApril2010#">by me</a></li>
        </ul>
        
        <%= h3(menu, :arrivals_departures) %>
        <ul>
          <li>Nathanaël François : by bus</li>
          <li>Pierre Gaillard : by plane</li>
          <li>me : Thursday 1:00 pm (Union Station, by train), Saturday 11:20 pm (Chinatown, by bus)</li>
        </ul>
      <%= side_nav_footer %>
<%= footer %>
