<%= header("../../", nil) %>
      <% menu = [
        [:with, "With"],
        [:pictures, "Pictures"],
        [:arrivals_departures, "Arrivals / departures"]] %>
      <%= side_nav_header menu %>
        <h1>West</h1>
        <h4>August 15-27, 2010</h4>
        <img alt="West" style="width: 100%" class="img-polaroid" src="images/west.jpg" />
        
        <%= h3(menu, :with) %>
        <ul>
          <li><a href="http://ulminfo.fr/~pgaillar/">Pierre Gaillard</a></li>
        </ul>
        
        <%= h3(menu, :pictures) %>
        <ul>
          <li>by Pierre Gaillard : <a href="http://picasaweb.google.com/pierre.gailllard/Californie#">San Francisco and national parks</a>, Las Vegas (coming soon)</li>
          <li>by me : <a href="http://picasaweb.google.com/guillaume.claret/SanFranciscoAugust2010#">San Francisco</a>, <a href="http://picasaweb.google.com/guillaume.claret/CalifornianParksAugust2010#">national parks</a>, <a href="http://picasaweb.google.com/guillaume.claret/LasVegasAugust2010#">Las Vegas</a></li>
        </ul>
        
        <%= h3(menu, :arrivals_departures) %>
        <ul>
          <li>Pierre Gaillard : San Francisco 11:45 am 16th - Las Vegas 10:10 pm 26th</li>
          <li>me : San Francisco 9:01 pm 15th - Las Vegas 9:47 am 27th</li>
        </ul>
      <%= side_nav_footer %>
<%= footer %>
