html {
  overflow-y: scroll;
}

.container {
  max-width: 1000px;
}

header {
  margin: 20px;
  margin-top: 30px;
}

header h1 {
  font-size: 67.5px;
  margin-bottom: 30px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.menu {
  margin-top: 20px;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
