<%= header("../../", :projects) %>
      <% menu = [
        [:report, "Report"],
        [:screenshots, "Screenshots"],
        [:video, "Video"] ] %>
      <%= side_nav_header menu %>
          <h1>Generator of walking creatures</h1>
          <p><em>With <a href="http://fr.viadeo.com/fr/profile/jean-marie.cases">Jean-Marie Cases</a>.</em></p>
          <p>A generator of walking creatures using genetic algorithms and the <a href="http://www.ode.org/">ODE</a> physics engine.</p>
          
          <%= h3(menu, :report) %>
          <p>The main <a href="french_report.pdf">report</a> (in French).</p>
          
          <%= h3(menu, :screenshots) %>
          <div id="results_carousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <img src="pictures/bipede.png" alt="">
              </div>
              <div class="item">
                <img src="pictures/compact.png" alt="">
              </div>
              <div class="item">
                <img src="pictures/cubes.png" alt="">
              </div>
              <div class="item">
                <img src="pictures/escargot.png" alt="">
              </div>
              <div class="item">
                <img src="pictures/rampe.png" alt="">
              </div>
              <div class="item">
                <img src="pictures/rouleau.png" alt="">
              </div>
              <div class="item">
                <img src="pictures/sauterelle.png" alt="">
              </div>
            </div>
            <a class="carousel-control left" href="#results_carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#results_carousel" data-slide="next">&rsaquo;</a>
          </div>
          
          <%= h3(menu, :video) %>
          <video width="100%" controls>
            <source src="video.mp4" type="video/mp4">
            <source src="video.webm" type="video/webm">
            Your browser does not support the video tag.
          </video>
      <%= side_nav_footer %>
<%= footer %>
