<%= header("../", "Compiler", nil) %>
            <h1><i class="icon-cog"></i> Compiler</h1>
            <p>We want to compile and execute efficiently programs written in Coq with effects. It should be as efficient as <a href="http://ocaml.org/">OCaml</a> for example. Plus this execution should provide the same level of safety as the Coq kernel. We see three kinds of architectures:</p>
            <ul>
              <li>an extraction to OCaml using the existing mechanism (unsafe but simple)</li>
              <li>an optimizing compiler or interpreter proven in Coq or any other trusted tool</li>
              <li>an internal compiler to an assembly-like subset of Gallina, interpreted efficiently by an unsafe but simple JIT compiler</li>
            </ul>
            <p>The last idea is in the spirit of Mozilla's <a href="http://asmjs.org/">asm.js</a>.</p>
            
            <h3>Effects</h3>
            <p>We can distinguish user-level and compiler-level effects. At the user-level you may have specified or composed effects. The compiler needs only two effects:</p>
            <ul>
              <li>states</li>
              <li>exceptions</li>
            </ul>
            <p>In particular we view the non-termination as the composition of a state (a decreasing counter) and an exception (computation not terminated).</p>
            
            <h3>Input language</h3>
            <p>The programming language the compiler reads is different than the one the user writes. It should not contain any meta-instructions, such as syntactic sugar or tactics. They should be instead extended in a pre-compilation phase. Gallina, the core Coq language with only lambda-terms, plus some conventions to represent effects, seems suitable as an input language.</p>
            <p>The compilation process can be decomposed into three phases:</p>
            <ol>
              <li>meta-Gallina: the source code</li>
              <li>Gallina: after pre-compilation</li>
              <li>x86 binary (or equivalent): after compilation</li>
            </ol>
            <p>We want to find a robust and simple convention to represent effects in Gallina so they can be optimized by the compiler. This convention must be modular enough to allow linking, without replaying the pre-compilation or even the compilation steps.</p>
            <p>A possible solution is to have a special syntax to declare effects:</p>
            <pre>Effect ε_i := T_i : Type.</pre>
            <p>If a function uses the effects <code>ε_1</code> and <code>ε_2</code> its type will be written:</p>
            <pre>f : A -> {ε_1 + ε_2} B</pre>
            <p>It will generate to things, a pure Gallina expression (to simplify, we only consider state effects):</p>
            <pre>f_gallina : A * (T_1 * T_2) -> B * (T_1 * T_2)</pre>
            <p>and an annotation:</p>
            <pre>f_annot : . -> {ε_1 + ε_2} .</pre>
            <p>The advantage is that we get an encoding of <code>f</code> in Gallina without effects, but still have all the meta-informations about the effects, in particular their name. If for example we want to compose <code>f</code> with <code>g</code> of type:</p>
            <pre>g : B -> {ε_2 + ε_1} C</pre>
            <p>we know we need to glue them with a function:</p>
            <pre>glue_f_g : T_1 * T_2 -> T_2 * T_1</pre>
            <p>to revert the order of effects. In this case of state effects, we can commute but also extend the signature, and we hope to find a general effects system with these properties. We could compose <code>g</code> with <code>h</code> of type:</p>
            <pre>h : C -> {ε_2 + ε_3} D</pre>
            <p>obtaining a result of type:</p>
            <pre>h_g : B -> {ε_1 + ε_2 + ε_3} D</pre>
<%= footer("../", "Compiler") %>
