<%= header("../", "About", nil) %>
            <h1><i class="icon-user"></i> About</h1>
            <p>I am <a href="http://guillaume.claret.me/">Guillaume Claret</a>, a PhD student in the Inria's <a href="http://www.pps.univ-paris-diderot.fr/pi.r2/">πr² team</a> in Paris with <a href="http://pauillac.inria.fr/~herbelin/index-eng.html">Hugo Herbelin</a> and <a href="http://www.pps.univ-paris-diderot.fr/~yrg/">Yann Régis-Gianas</a>.</p>
            <p>This website summarizes some ideas of my <a href="http://guillaume.claret.me/research/phd.html">PhD</a>. It does not reflect the official policy of the Coq project. For more information, you can go on the <a href="http://coq.inria.fr/">Inria's webpage</a>.</p>
<!--            <p>This website is maintained by <a href="http://guillaume.claret.me/">Guillaume Claret</a>. This is an ongoing work. The main aim for now is to summarize important ideas.</p>-->
<%= footer("../", "About") %>
