<%= header("../../", :projects) %>
      <% menu = [
        [:documents, "Documents"] ] %>
      <%= side_nav_header menu %>
          <h1>Weakest precondition generator</h1>
          <p><em>With <a href="http://www-sop.inria.fr/members/Anne.Pacalet/">Anne Pacalet</a>.</em></p>
          <p>A pre-condition algorithm on C with correctness proof in Coq. For the <a href="http://frama-c.com/">Frama-C</a> project.</p>
          
          <%= h3(menu, :documents) %>
          <ul>
            <li><a href="french_report.pdf">report</a> (in French)</li>
            <li><a href="french_slides.pdf">slides</a> (in French)</li>
          </ul>
      <%= side_nav_footer %>
<%= footer %>
